Repository KITmetricslab/hospitalization-nowcast-hub, pull requests merged in 2021-12, with the labels that each got.

#155 RIVM-KEW submission 2021-12-01
  data-processed/RIVM-KEW/2021-12-01-RIVM-KEW.csv
Labels: data-submission

#156 Adding KIT.
  data-processed/KIT-simple_nowcast/2021-12-01-KIT-simple_nowcast.csv
Labels: data-submission

#157 SU-hier_bayes 2021-12-01
  data-processed/SU-hier_bayes/2021-12-01-SU-hier_bayes.csv
Labels: data-submission

#158 nowcasting results LMU_StaBLab 2021-12-01
  data-processed/LMU_StaBLab-GAM_nowcast/2021-12-01-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission

#159 Adding Epiforecasts.
  data-processed/Epiforecasts-independent/2021-12-01-Epiforecasts-independent.csv
Labels: data-submission

#160 ILM-prop nowcasts for 2021-12-01
  data-processed/ILM-prop/2021-12-01-ILM-prop.csv
Labels: data-submission

#161 Adding SZ.
  data-processed/SZ-hosp_nowcast/2021-12-01-SZ-hosp_nowcast.csv
Labels: data-submission

#162 Adding ensembles.
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2021-12-01-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-12-01-NowcastHub-MedianEnsemble.csv
Labels: data-submission, other-files-updated

#163 Adding KIT.
  data-processed/KIT-simple_nowcast/2021-12-02-KIT-simple_nowcast.csv
Labels: data-submission

#164 RIVM-KEW submission 2021-12-02
  data-processed/RIVM-KEW/2021-12-02-RIVM-KEW.csv
Labels: data-submission

#165 SU-hier_bayes 2021-12-02
  data-processed/SU-hier_bayes/2021-12-02-SU-hier_bayes.csv
Labels: data-submission

#166 Adding Epiforecasts.
  data-processed/Epiforecasts-independent/2021-12-02-Epiforecasts-independent.csv
Labels: data-submission

#167 ILM-prop nowcasts for 2021-12-02
  data-processed/ILM-prop/2021-12-02-ILM-prop.csv
Labels: data-submission

#169 Adding SZ.
  data-processed/SZ-hosp_nowcast/2021-12-02-SZ-hosp_nowcast.csv
Labels: data-submission

#170 Adding ensemble.
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2021-12-02-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-12-02-NowcastHub-MedianEnsemble.csv
Labels: data-submission, other-files-updated

#171 Updating RKI
  data-processed/RKI-weekly_report/2021-12-01-RKI-weekly_report.csv
  data-processed/RKI-weekly_report/2021-12-02-RKI-weekly_report.csv
Labels: data-submission

#172 Adding KIT
  data-processed/KIT-simple_nowcast/2021-12-03-KIT-simple_nowcast.csv
Labels: data-submission

#173 SU-hier_bayes 2021-12-03
  data-processed/SU-hier_bayes/2021-12-03-SU-hier_bayes.csv
Labels: data-submission

#174 ILM-prop nowcasts for 2021-12-03
  data-processed/ILM-prop/2021-12-03-ILM-prop.csv
Labels: data-submission

#175 Adding Epinowcasts an SZ
  data-processed/Epiforecasts-independent/2021-12-03-Epiforecasts-independent.csv
  data-processed/SZ-hosp_nowcast/2021-12-03-SZ-hosp_nowcast.csv
Labels: data-submission

#176 nowcasting results LMU_StaBLab 2021-12-03
  data-processed/LMU_StaBLab-GAM_nowcast/2021-12-03-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission

#177 RIVM-KEW submission 2021-12-03
  data-processed/RIVM-KEW/2021-12-03-RIVM-KEW.csv
Labels: data-submission

#178 Including RIVM into ensemble.
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2021-12-03-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-12-03-NowcastHub-MedianEnsemble.csv
Labels: data-submission, other-files-updated

#179 Adding newest RKI.
  data-processed/RKI-weekly_report/2021-12-03-RKI-weekly_report.csv
Labels: data-submission

#181 SU-hier_bayes 2021-12-04
  data-processed/SU-hier_bayes/2021-12-04-SU-hier_bayes.csv
Labels: data-submission

#180 RIVM-KEW submission 2021-12-04
  data-processed/RIVM-KEW/2021-12-04-RIVM-KEW.csv
Labels: data-submission

#182 Adding KIT.
  data-processed/KIT-simple_nowcast/2021-12-04-KIT-simple_nowcast.csv
Labels: data-submission

#183 Add SZ.
  data-processed/SZ-hosp_nowcast/2021-12-04-SZ-hosp_nowcast.csv
Labels: data-submission

#184 Adding RKI.
  data-processed/RKI-weekly_report/2021-12-04-RKI-weekly_report.csv
Labels: data-submission

#185 nowcasting results LMU_StaBLab 2021-12-04
  data-processed/LMU_StaBLab-GAM_nowcast/2021-12-04-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission

#186 Adding ensembles.
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2021-12-04-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-12-04-NowcastHub-MedianEnsemble.csv
Labels: data-submission, other-files-updated

#188 RIVM-KEW submission 2021-12-05
  data-processed/RIVM-KEW/2021-12-05-RIVM-KEW.csv
Labels: data-submission

#187 ILM-prop nowcasts for 2021-12-04
  data-processed/ILM-prop/2021-12-04-ILM-prop.csv
Labels: data-submission

#189 nowcasting results LMU_StaBLab 2021-12-05
  data-processed/LMU_StaBLab-GAM_nowcast/2021-12-05-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission

#190 ILM-prop nowcasts for 2021-12-05
  data-processed/ILM-prop/2021-12-05-ILM-prop.csv
Labels: data-submission

#191 Adding KIT.
  data-processed/Epiforecasts-independent/2021-12-04-Epiforecasts-independent.csv
  data-processed/Epiforecasts-independent/2021-12-05-Epiforecasts-independent.csv
  data-processed/KIT-simple_nowcast/2021-12-05-KIT-simple_nowcast.csv
Labels: data-submission

#192 Adding SZ.
  data-processed/SZ-hosp_nowcast/2021-12-05-SZ-hosp_nowcast.csv
Labels: data-submission

#193 Adding ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2021-12-05-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-12-05-NowcastHub-MedianEnsemble.csv
Labels: data-submission, other-files-updated

#195 RIVM-KEW submission 2021-12-06
  data-processed/RIVM-KEW/2021-12-06-RIVM-KEW.csv
Labels: data-submission

#196 Adding KIT
  data-processed/Epiforecasts-independent/metadata-epiforecasts-independent.txt
  data-processed/KIT-simple_nowcast/2021-12-06-KIT-simple_nowcast.csv
Labels: data-submission, other-files-updated

#197 nowcasting results LMU_StaBLab 2021-12-06
  data-processed/LMU_StaBLab-GAM_nowcast/2021-12-06-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission

#198 SU-hier_bayes 2021-12-06
  data-processed/SU-hier_bayes/2021-12-06-SU-hier_bayes.csv
Labels: data-submission

#200 Adding RKI 6-12
  data-processed/RKI-weekly_report/2021-12-06-RKI-weekly_report.csv
Labels: data-submission

#201 ILM-prop nowcasts for 2021-12-06
  data-processed/ILM-prop/2021-12-06-ILM-prop.csv
Labels: data-submission

#202 Adding SZ and epiforecasts.
  data-processed/Epiforecasts-independent/2021-12-06-Epiforecasts-independent.csv
  data-processed/SZ-hosp_nowcast/2021-12-06-SZ-hosp_nowcast.csv
Labels: data-submission

#203 Adding ensembles.
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2021-12-06-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-12-06-NowcastHub-MedianEnsemble.csv
Labels: data-submission, other-files-updated

#205 RIVM-KEW submission 2021-12-07
  data-processed/RIVM-KEW/2021-12-07-RIVM-KEW.csv
Labels: data-submission

#206 SU-hier_bayes 2021-12-07
  data-processed/SU-hier_bayes/2021-12-07-SU-hier_bayes.csv
Labels: data-submission

#207 Adding RKI and KIT
  code/fetch_nowcasts/RKI_weekly_report2nowcast.py
  data-processed/KIT-simple_nowcast/2021-12-07-KIT-simple_nowcast.csv
  data-processed/RKI-weekly_report/2021-12-07-RKI-weekly_report.csv
Labels: data-submission, other-files-updated

#208 ILM-prop nowcasts for 2021-12-07
  data-processed/ILM-prop/2021-12-07-ILM-prop.csv
Labels: data-submission

#210 Adding SZ.
  data-processed/SZ-hosp_nowcast/2021-12-07-SZ-hosp_nowcast.csv
Labels: data-submission

#211 Adding ensembles.
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2021-12-07-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-12-07-NowcastHub-MedianEnsemble.csv
Labels: data-submission, other-files-updated

#199 Add files via upload
  data-processed/RKI-weekly_report/2021-12-05-RKI-weekly_report.csv
Labels: data-submission

#216 ILM-prop nowcasts for 2021-12-08
  data-processed/ILM-prop/2021-12-08-ILM-prop.csv
Labels: data-submission

#215 SU-hier_bayes 2021-12-08
  data-processed/SU-hier_bayes/2021-12-08-SU-hier_bayes.csv
Labels: data-submission

#214 Update baseline
  data-processed/KIT-simple_nowcast/2021-12-08-KIT-simple_nowcast.csv
Labels: data-submission, automated pr

#217 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2021-12-08-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr

#218 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2021-12-08-RKI-weekly_report.csv
Labels: data-submission, automated pr

#219 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2021-12-08-Epiforecasts-independent.csv
Labels: data-submission, automated pr

#220 nowcasting results LMU_StaBLab 2021-12-08
  data-processed/LMU_StaBLab-GAM_nowcast/2021-12-08-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission

#221 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2021-12-08-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-12-08-NowcastHub-MedianEnsemble.csv
Labels: data-submission, other-files-updated, automated pr

#224 Update baseline
  data-processed/KIT-simple_nowcast/2021-12-09-KIT-simple_nowcast.csv
Labels: data-submission, automated pr

#225 RIVM-KEW submission 2021-12-09
  data-processed/RIVM-KEW/2021-12-09-RIVM-KEW.csv
Labels: data-submission

#228 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2021-12-09-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr

#229 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2021-12-09-RKI-weekly_report.csv
Labels: data-submission, automated pr

#230 nowcasting results LMU_StaBLab_2021-12-09
  data-processed/LMU_StaBLab-GAM_nowcast/2021-12-09-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission

#231 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2021-12-09-Epiforecasts-independent.csv
Labels: data-submission, automated pr

#232 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2021-12-09-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-12-09-NowcastHub-MedianEnsemble.csv
Labels: data-submission, other-files-updated, automated pr

#248 Update baseline
  data-processed/KIT-simple_nowcast/2021-12-10-KIT-simple_nowcast.csv
Labels: data-submission, automated pr

#249 Replacing RKI file from 8 Dec 2021 which had too high nowcasts due to…
  data-processed_replaced/README.md
  data-processed_replaced/RKI-weekly_report/2021-12-08-RKI-weekly_report.csv
  data-processed_retrospective/RKI-weekly_report/2021-12-08-RKI-weekly_report.csv
Labels: data-submission, other-files-updated

#250 RIVM-KEW submission 2021-12-10
  data-processed/RIVM-KEW/2021-12-10-RIVM-KEW.csv
Labels: data-submission

#251 SU-hier_bayes 2021-12-10
  data-processed/SU-hier_bayes/2021-12-10-SU-hier_bayes.csv
Labels: data-submission

#252 nowcasting results LMU_StaBLab_2021-12-10
  data-processed/LMU_StaBLab-GAM_nowcast/2021-12-10-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission

#253 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2021-12-10-Epiforecasts-independent.csv
Labels: data-submission, automated pr

#255 ILM-prop nowcasts for 2021-12-10
  data-processed/ILM-prop/2021-12-10-ILM-prop.csv
Labels: data-submission

#254 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2021-12-10-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr

#257 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2021-12-10-RKI-weekly_report.csv
Labels: data-submission, automated pr

#258 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2021-12-10-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-12-10-NowcastHub-MedianEnsemble.csv
Labels: data-submission, other-files-updated, automated pr

#259 Update baseline
  data-processed/KIT-simple_nowcast/2021-12-11-KIT-simple_nowcast.csv
Labels: data-submission, automated pr

#260 RIVM-KEW submission 2021-12-11
  data-processed/RIVM-KEW/2021-12-11-RIVM-KEW.csv
Labels: data-submission

#261 nowcasting results LMU_StaBLab_2021-12-11
  data-processed/LMU_StaBLab-GAM_nowcast/2021-12-11-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission

#262 SU-hier_bayes 2021-12-11
  data-processed/SU-hier_bayes/2021-12-11-SU-hier_bayes.csv
Labels: data-submission

#263 ILM-prop nowcasts for 2021-12-11
  data-processed/ILM-prop/2021-12-11-ILM-prop.csv
Labels: data-submission

#264 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2021-12-11-Epiforecasts-independent.csv
Labels: data-submission, automated pr

#265 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2021-12-11-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr

#266 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2021-12-11-RKI-weekly_report.csv
Labels: data-submission, automated pr

#267 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2021-12-11-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-12-11-NowcastHub-MedianEnsemble.csv
Labels: data-submission, other-files-updated, automated pr

#271 RIVM-KEW submission 2021-12-12
  data-processed/RIVM-KEW/2021-12-12-RIVM-KEW.csv
Labels: data-submission

#270 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2021-12-12-RKI-weekly_report.csv
Labels: data-submission, automated pr

#268 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2021-12-12-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr

#269 Update baseline
  data-processed/KIT-simple_nowcast/2021-12-12-KIT-simple_nowcast.csv
Labels: data-submission, automated pr

#273 SU-hier_bayes 2021-12-12
  data-processed/SU-hier_bayes/2021-12-12-SU-hier_bayes.csv
Labels: data-submission

#272 ILM-prop nowcasts for 2021-12-12
  data-processed/ILM-prop/2021-12-12-ILM-prop.csv
Labels: data-submission

#274 nowcasting results LMU_StaBLab_2021-12-12
  data-processed/LMU_StaBLab-GAM_nowcast/2021-12-12-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission

#275 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2021-12-12-Epiforecasts-independent.csv
Labels: data-submission, automated pr

#276 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2021-12-12-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-12-12-NowcastHub-MedianEnsemble.csv
Labels: data-submission, other-files-updated, automated pr

#277 SU-hier_bayes 2021-12-13
  data-processed/SU-hier_bayes/2021-12-13-SU-hier_bayes.csv
Labels: data-submission

#278 RIVM-KEW submission 2021-12-13
  data-processed/RIVM-KEW/2021-12-13-RIVM-KEW.csv
Labels: data-submission

#279 Update baseline
  data-processed/KIT-simple_nowcast/2021-12-13-KIT-simple_nowcast.csv
Labels: data-submission, automated pr

#280 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2021-12-13-RKI-weekly_report.csv
Labels: data-submission, automated pr

#281 nowcasting results LMU_StaBLab_2021-12-13
  data-processed/LMU_StaBLab-GAM_nowcast/2021-12-13-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission

#283 ILM-prop nowcasts for 2021-12-13
  data-processed/ILM-prop/2021-12-13-ILM-prop.csv
Labels: data-submission

#285 test
  data-processed/DW-test_automerge/2021-12-13-DW-test_automerge.csv
Labels: data-submission, automerge

#286 Revert "test"
  data-processed/DW-test_automerge/2021-12-13-DW-test_automerge.csv
Labels: data-submission, automerge, forecast-deleted

#287 test
  data-processed/DW-test_automerge/2021-12-13-DW-test_automerge.csv
Labels: data-submission, automerge

#288 Revert "test"
  data-processed/DW-test_automerge/2021-12-13-DW-test_automerge.csv
Labels: data-submission, automerge, forecast-deleted

#289 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2021-12-13-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#290 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2021-12-13-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#291 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2021-12-13-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-12-13-NowcastHub-MedianEnsemble.csv
Labels: data-submission, other-files-updated, automated pr, automerge

#292 RIVM-KEW submission 2021-12-14
  data-processed/RIVM-KEW/2021-12-14-RIVM-KEW.csv
Labels: data-submission, automerge

#293 ILM-prop nowcasts for 2021-12-14
  data-processed/ILM-prop/2021-12-14-ILM-prop.csv
Labels: data-submission, automerge

#294 SU-hier_bayes 2021-12-14
  data-processed/SU-hier_bayes/2021-12-14-SU-hier_bayes.csv
Labels: data-submission, automerge

#295 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2021-12-14-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#296 Update baseline
  data-processed/KIT-simple_nowcast/2021-12-14-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#297 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2021-12-14-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#299 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2021-12-14-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#298 nowcasting results LMU_StaBLab 2021-12-14
  data-processed/Epiforecasts-independent/metadata-Epiforecasts-independent.txt
  data-processed/LMU_StaBLab-GAM_nowcast/2021-12-14-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, metadata-change, automerge

#300 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2021-12-14-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-12-14-NowcastHub-MedianEnsemble.csv
Labels: data-submission, other-files-updated, automated pr, automerge

#301 RIVM-KEW submission 2021-12-15
  data-processed/RIVM-KEW/2021-12-15-RIVM-KEW.csv
Labels: data-submission, automerge

#302 SU-hier_bayes 2021-12-15
  data-processed/SU-hier_bayes/2021-12-15-SU-hier_bayes.csv
Labels: data-submission, automerge

#303 nowcasting results LMU_StaBLab 2021-12-15
  data-processed/LMU_StaBLab-GAM_nowcast/2021-12-15-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automerge

#304 ILM-prop nowcasts for 2021-12-15
  data-processed/ILM-prop/2021-12-15-ILM-prop.csv
Labels: data-submission, automerge

#305 Update baseline
  data-processed/KIT-simple_nowcast/2021-12-15-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#306 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2021-12-15-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#307 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2021-12-15-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#308 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2021-12-15-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-12-15-NowcastHub-MedianEnsemble.csv
Labels: data-submission, other-files-updated, automated pr, automerge

#309 Add files via upload
  data-processed/RKI-weekly_report/2021-12-15-RKI-weekly_report.csv
Labels: data-submission, automerge

#310 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2021-12-15-RKI-weekly_report.csv
Labels: data-submission, forecast-updated, automated pr, automerge

#311 RIVM-KEW submission 2021-12-16
  data-processed/RIVM-KEW/2021-12-16-RIVM-KEW.csv
Labels: data-submission, automerge

#312 SU-hier_bayes 2021-12-16
  data-processed/SU-hier_bayes/2021-12-16-SU-hier_bayes.csv
Labels: data-submission, automerge

#313 nowcasting results LMU_StaBLab 2021-12-16
  data-processed/LMU_StaBLab-GAM_nowcast/2021-12-16-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automerge

#314 ILM-prop nowcasts for 2021-12-16
  data-processed/ILM-prop/2021-12-16-ILM-prop.csv
Labels: data-submission, automerge

#315 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2021-12-16-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#316 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2021-12-16-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#317 Update baseline
  data-processed/KIT-simple_nowcast/2021-12-16-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#318 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2021-12-16-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#319 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2021-12-16-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-12-16-NowcastHub-MedianEnsemble.csv
Labels: data-submission, other-files-updated, automated pr, automerge

#320 Update baseline
  data-processed/KIT-simple_nowcast/2021-12-17-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#321 RIVM-KEW submission 2021-12-17
  data-processed/RIVM-KEW/2021-12-17-RIVM-KEW.csv
Labels: data-submission, automerge

#322 SU-hier_bayes 2021-12-17
  data-processed/SU-hier_bayes/2021-12-17-SU-hier_bayes.csv
Labels: data-submission, automerge

#323 nowcasting results LMU_StaBLab 2021-12-17
  data-processed/LMU_StaBLab-GAM_nowcast/2021-12-17-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automerge

#325 ILM-prop nowcasts for 2021-12-17
  data-processed/ILM-prop/2021-12-17-ILM-prop.csv
Labels: data-submission, automerge

#326 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2021-12-17-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#327 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2021-12-17-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#328 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2021-12-17-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#329 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2021-12-17-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-12-17-NowcastHub-MedianEnsemble.csv
Labels: data-submission, other-files-updated, automated pr, automerge

#324 Code to get the Nowcasts from the RKI archive
  code/fetch_nowcasts/fetch_rki_archive_missing.py
Labels: automerge

#330 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2021-12-17-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#331 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2021-12-17-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#332 Update baseline
  data-processed/KIT-simple_nowcast/2021-12-18-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge
