Repository KITmetricslab/hospitalization-nowcast-hub, pull requests merged in 2021-11, with the labels that each got.

#27 Add files via upload
  data-processed/RKI-weekly_report/2021-11-04-RKI-weekly_report.csv
Labels: data-submission

#29 ILM-prop nowcasts for 2021-11-09
  data-processed/ILM-prop/2021-11-09-ILM-prop.csv
Labels: data-submission

#30 Adding todays KIT nowcast.
  data-processed/KIT-simple_nowcast/2021-11-09-KIT-simple_nowcast.csv
Labels: data-submission

#32 Add KIT nowcast
  data-processed/KIT-simple_nowcast/2021-11-10-KIT-simple_nowcast.csv
Labels: data-submission

#31 ILM-prop nowcasts for 2021-11-10
  data-processed/ILM-prop/2021-11-10-ILM-prop.csv
Labels: data-submission

#33 Adding today's nowcast.
  data-processed/KIT-simple_nowcast/2021-11-11-KIT-simple_nowcast.csv
Labels: data-submission

#34 ILM-prop nowcasts for 2021-11-11
  data-processed/ILM-prop/2021-11-11-ILM-prop.csv
Labels: data-submission, other-files-updated

#35 Adding nowcast of all states and age groups.
  data-processed/KIT-simple_nowcast/2021-11-11-KIT-simple_nowcast.csv
Labels: data-submission, forecast-updated

#36 RIVM-KEW submission 2021-11-11
  data-processed/RIVM-KEW/2021-11-11-RIVM-KEW.csv
  data-processed/RIVM-KEW/metadata-RIVM-KEW.txt
Labels: data-submission, metadata-change

#37 Add files via upload
  data-processed/RKI-weekly_report/2021-11-11-RKI-weekly_report.csv
Labels: data-submission

#38 nowcast results LMU_StaBLab 2021-11-11
  .gitignore
  data-processed/LMU_StaBLab-GAM_nowcast/2021-11-11-LMU_StaBLab-GAM_nowcast.csv
  data-processed/LMU_StaBLab-GAM_nowcast/metadata-LMU_StaBLab-GAM_nowcast.txt
Labels: data-submission, other-files-updated, metadata-change

#40 ILM-prop nowcasts for 2021-11-12
  data-processed/ILM-prop/2021-11-12-ILM-prop.csv
Labels: data-submission

#39 ILM-prop Metadata
  data-processed/ILM-prop/metadata-ILM-prop.txt
Labels: metadata-change

#41 Adding today's nowcast.
  data-processed/KIT-simple_nowcast/2021-11-12-KIT-simple_nowcast.csv
Labels: data-submission

#42 RIVM-KEW submission 2021-11-12
  data-processed/RIVM-KEW/2021-11-12-RIVM-KEW.csv
Labels: data-submission

#43 nowcast results LMU_StaBLab 2021-11-12
  data-processed/LMU_StaBLab-GAM_nowcast/2021-11-12-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission

#44 RIVM-KEW submission 2021-11-13
  data-processed/RIVM-KEW/2021-11-13-RIVM-KEW.csv
Labels: data-submission

#45 RIVM-KEW submission 2021-11-14
  data-processed/RIVM-KEW/2021-11-14-RIVM-KEW.csv
Labels: data-submission

#48 Adding today's nowcast.
  data-processed/KIT-simple_nowcast/2021-11-15-KIT-simple_nowcast.csv
Labels: data-submission

#49 RIVM-KEW submission 2021-11-15
  data-processed/RIVM-KEW/2021-11-15-RIVM-KEW.csv
Labels: data-submission

#50 ILM-prop nowcasts for 2021-11-15
  data-processed/ILM-prop/2021-11-15-ILM-prop.csv
Labels: data-submission

#51 nowcasting results LMU_StaBLab 2021-11-15
  data-processed/LMU_StaBLab-GAM_nowcast/2021-11-15-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission

#52 RIVM-KEW submission 2021-11-16
  data-processed/RIVM-KEW/2021-11-16-RIVM-KEW.csv
Labels: data-submission

#53 Adding today's nowcast.
  data-processed/KIT-simple_nowcast/2021-11-16-KIT-simple_nowcast.csv
Labels: data-submission

#54 nowcasting results LMU_StaBLab 2021-11-16
  data-processed/LMU_StaBLab-GAM_nowcast/2021-11-16-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission

#55 ILM-prop nowcasts for 2021-11-16
  data-processed/ILM-prop/2021-11-16-ILM-prop.csv
Labels: data-submission

#56 SU-hier_bayes 2021-11-16
  data-processed/SU-hier_bayes/2021-11-16-SU-hier_bayes.csv
  data-processed/SU-hier_bayes/metadata-SU-hier_bayes.txt
Labels: data-submission, metadata-change

#58 2021-11-17 SU_hier_bayes
  data-processed/SU-hier_bayes/2021-11-17-SU-hier_bayes.csv
Labels: data-submission

#59 Adding today's nowcast.
  data-processed/KIT-simple_nowcast/2021-11-17-KIT-simple_nowcast.csv
Labels: data-submission

#60 RIVM-KEW submission 2021-11-17
  data-processed/RIVM-KEW/2021-11-17-RIVM-KEW.csv
Labels: data-submission

#62 nowcast results LMU_StaBLab 2021-11-17
  2021-11-16-LMU_StaBLab-GAM_nowcast.csv
  data-processed/LMU_StaBLab-GAM_nowcast/2021-11-17-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, other-files-updated

#63 Adding first ensembles.
  data-processed/NowcastHub-MeanEnsemble/2021-11-17-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-11-17-NowcastHub-MedianEnsemble.csv
Labels: data-submission

#64 Adding today's nowcast.
  data-processed/KIT-simple_nowcast/2021-11-18-KIT-simple_nowcast.csv
Labels: data-submission

#65 nowcasting results LMU_StaBLab 2021-11-18
  data-processed/LMU_StaBLab-GAM_nowcast/2021-11-18-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission

#66 SU_hier_bayes 2021-11-18
  data-processed/SU-hier_bayes/2021-11-18-SU-hier_bayes.csv
Labels: data-submission

#67 RIVM-KEW submission 2021-11-18
  data-processed/RIVM-KEW/2021-11-18-RIVM-KEW.csv
Labels: data-submission

#68 Adding ensembles.
  data-processed/NowcastHub-MeanEnsemble/2021-11-18-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-11-18-NowcastHub-MedianEnsemble.csv
Labels: data-submission

#69 ILM-prop nowcasts for 2021-11-18
  data-processed/ILM-prop/2021-11-18-ILM-prop.csv
Labels: data-submission

#70 Add files via upload
  data-processed/RKI-weekly_report/2021-11-17-RKI-weekly_report.csv
Labels: data-submission

#71 Adding SZ nowcast.
  data-processed/SZ-hosp_nowcast/2021-11-18-SZ-hosp_nowcast.csv
  data-processed/SZ-hosp_nowcast/metadata-SZ_hosp_nowcast.txt
Labels: data-submission, other-files-updated

#72 RIVM-KEW submission 2021-11-19
  data-processed/RIVM-KEW/2021-11-19-RIVM-KEW.csv
Labels: data-submission

#73 Adding KIT nowcast.
  data-processed/KIT-simple_nowcast/2021-11-19-KIT-simple_nowcast.csv
Labels: data-submission

#74 ILM-prop nowcasts for 2021-11-19
  data-processed/ILM-prop/2021-11-19-ILM-prop.csv
Labels: data-submission

#75 nowcasting results LMU_StaBLab 2021-11-19
  .gitignore
  data-processed/LMU_StaBLab-GAM_nowcast/2021-11-19-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, other-files-updated

#76 Add files via upload
  data-processed/SZ-hosp_nowcast/2021-11-19-SZ-hosp_nowcast.csv
Labels: data-submission

#77 2021-11-19 SU-hier_bayes
  data-processed/SU-hier_bayes/2021-11-19-SU-hier_bayes.csv
Labels: data-submission

#78 Update ensemble.
  data-processed/NowcastHub-MeanEnsemble/2021-11-19-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-11-19-NowcastHub-MedianEnsemble.csv
Labels: data-submission

#80 RIVM-KEW submission 2021-11-20
  data-processed/RIVM-KEW/2021-11-20-RIVM-KEW.csv
Labels: data-submission

#81 Adding KIT nowcast.
  data-processed/KIT-simple_nowcast/2021-11-20-KIT-simple_nowcast.csv
Labels: data-submission

#82 RIVM-KEW submission 2021-11-21
  data-processed/RIVM-KEW/2021-11-21-RIVM-KEW.csv
Labels: data-submission

#84 SU-hier_bayes 2021-11-22
  .gitignore
  data-processed/SU-hier_bayes/2021-11-22-SU-hier_bayes.csv
Labels: data-submission, other-files-updated

#83 RIVM-KEW submission 2021-11-22
  data-processed/RIVM-KEW/2021-11-22-RIVM-KEW.csv
Labels: data-submission

#85 Adding KIT nowcast.
  data-processed/KIT-simple_nowcast/2021-11-22-KIT-simple_nowcast.csv
Labels: data-submission

#88 nowcasting results LMU_StaBLab 2021-11-22
  data-processed/LMU_StaBLab-GAM_nowcast/2021-11-22-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission

#87 ILM-prop nowcasts for 2021-11-22
  data-processed/ILM-prop/2021-11-22-ILM-prop.csv
Labels: data-submission

#89 Adding Epiforecasts
  data-processed/Epiforecasts-hierarchical/metadata-Epiforecasts-hierarchical.txt
  data-processed/Epiforecasts-independent/2021-11-22-Epiforecasts-independent.csv
  data-processed/Epiforecasts-independent/metadata-Epiforecasts-independent.txt
Labels: data-submission, metadata-change

#90 Adding ensembles.
  data-processed/NowcastHub-MeanEnsemble/2021-11-22-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-11-22-NowcastHub-MedianEnsemble.csv
Labels: data-submission

#91 Including ILM into ensemble.
  data-processed/NowcastHub-MeanEnsemble/2021-11-22-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-11-22-NowcastHub-MedianEnsemble.csv
Labels: data-submission, forecast-updated

#92 Add KIT.
  data-processed/Epiforecasts-independent/2021-11-22-Epiforecasts-independent.csv
  data-processed/KIT-simple_nowcast/2021-11-23-KIT-simple_nowcast.csv
Labels: data-submission, forecast-updated

#93 RIVM-KEW submission 2021-11-23
  data-processed/RIVM-KEW/2021-11-23-RIVM-KEW.csv
Labels: data-submission

#94 SU_hier_bayes 2021-11-23
  data-processed/SU-hier_bayes/2021-11-23-SU-hier_bayes.csv
Labels: data-submission

#95 Adding SZ nowcast.
  data-processed/SZ-hosp_nowcast/2021-11-23-SZ-hosp_nowcast.csv
Labels: data-submission

#97 nowcasting results LMU_StaBLab 2021-11-23
  data-processed/LMU_StaBLab-GAM_nowcast/2021-11-23-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission

#98 Adding Sam's nowcast.
  data-processed/Epiforecasts-independent/2021-11-23-Epiforecasts-independent.csv
Labels: data-submission

#99 Adding ensembles.
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2021-11-23-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-11-23-NowcastHub-MedianEnsemble.csv
Labels: data-submission, other-files-updated

#100 ILM-prop nowcasts for 2021-11-23
  data-processed/ILM-prop/2021-11-23-ILM-prop.csv
Labels: data-submission

#102 Adding KIT.
  data-processed/KIT-simple_nowcast/2021-11-24-KIT-simple_nowcast.csv
Labels: data-submission

#103 RIVM-KEW submission 2021-11-24
  data-processed/RIVM-KEW/2021-11-24-RIVM-KEW.csv
Labels: data-submission

#104 SU-hier_bayes 2021-11-24
  data-processed/SU-hier_bayes/2021-11-24-SU-hier_bayes.csv
Labels: data-submission

#105 ILM-prop nowcasts for 2021-11-24
  data-processed/ILM-prop/2021-11-24-ILM-prop.csv
Labels: data-submission

#106 nowcasting results LMU_StaBLab 2021-11-24
  data-processed/LMU_StaBLab-GAM_nowcast/2021-11-24-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission

#107 Epinowcasts und SZ
  data-processed/Epiforecasts-independent/2021-11-24-Epiforecasts-independent.csv
  data-processed/SZ-hosp_nowcast/2021-11-24-SZ-hosp_nowcast.csv
Labels: data-submission

#108 Add ensembles.
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2021-11-24-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-11-24-NowcastHub-MedianEnsemble.csv
Labels: data-submission, other-files-updated

#109 RIVM-KEW submission 2021-11-25
  data-processed/RIVM-KEW/2021-11-25-RIVM-KEW.csv
Labels: data-submission

#110 Adding KIT
  data-processed/KIT-simple_nowcast/2021-11-25-KIT-simple_nowcast.csv
Labels: data-submission

#111 SU-hier_bayes 2021-11-25
  data-processed/SU-hier_bayes/2021-11-25-SU-hier_bayes.csv
Labels: data-submission

#113 ILM-prop nowcasts for 2021-11-25
  data-processed/ILM-prop/2021-11-25-ILM-prop.csv
Labels: data-submission

#112 nowcasting results LMU_StaBLab 2021-11-25
  data-processed/LMU_StaBLab-GAM_nowcast/2021-11-25-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission

#114 Adding SZ and Epiforecasts.
  data-processed/Epiforecasts-independent/2021-11-25-Epiforecasts-independent.csv
  data-processed/SZ-hosp_nowcast/2021-11-25-SZ-hosp_nowcast.csv
Labels: data-submission

#115 Adding ensembles.
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2021-11-25-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-11-25-NowcastHub-MedianEnsemble.csv
Labels: data-submission, other-files-updated

#116 Adding RKI.
  data-processed/RKI-weekly_report/2021-11-24-RKI-weekly_report.csv
Labels: data-submission

#118 SU-hier_bayes 2021-11-26
  data-processed/SU-hier_bayes/2021-11-26-SU-hier_bayes.csv
Labels: data-submission

#117 RIVM-KEW submission 2021-11-26
  data-processed/RIVM-KEW/2021-11-26-RIVM-KEW.csv
Labels: data-submission

#119 Adding KIT.
  data-processed/KIT-simple_nowcast/2021-11-26-KIT-simple_nowcast.csv
Labels: data-submission

#120 nowcasting results LMU_StaBLab 2021-11-26
  data-processed/LMU_StaBLab-GAM_nowcast/2021-11-26-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission

#121 Adding SZ.
  data-processed/SZ-hosp_nowcast/2021-11-26-SZ-hosp_nowcast.csv
Labels: data-submission

#122 ILM-prop nowcasts for 2021-11-26
  data-processed/ILM-prop/2021-11-26-ILM-prop.csv
Labels: data-submission

#123 Add Epiforecasts and ensemble
  code/ensemble/documentation_members.csv
  data-processed/Epiforecasts-independent/2021-11-26-Epiforecasts-independent.csv
  data-processed/NowcastHub-MeanEnsemble/2021-11-26-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-11-26-NowcastHub-MedianEnsemble.csv
Labels: data-submission, other-files-updated

#126 RIVM-KEW submission 2021-11-27
  data-processed/RIVM-KEW/2021-11-27-RIVM-KEW.csv
Labels: data-submission

#127 nowcasting results LMU_StaBLab 2021-11-27
  data-processed/LMU_StaBLab-GAM_nowcast/2021-11-27-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission

#128 Adding KIT
  data-processed/KIT-simple_nowcast/2021-11-27-KIT-simple_nowcast.csv
Labels: data-submission

#129 Adding Epiforecasts.
  data-processed/Epiforecasts-independent/2021-11-27-Epiforecasts-independent.csv
Labels: data-submission

#130 Adding SZ.
  data-processed/SZ-hosp_nowcast/2021-11-27-SZ-hosp_nowcast.csv
Labels: data-submission

#131 Adding ensemble
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2021-11-27-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-11-27-NowcastHub-MedianEnsemble.csv
Labels: data-submission, other-files-updated

#132 RIVM-KEW submission 2021-11-28
  data-processed/RIVM-KEW/2021-11-28-RIVM-KEW.csv
Labels: data-submission

#133 nowcasting results LMU_StaBLab 2021-11-28
  data-processed/LMU_StaBLab-GAM_nowcast/2021-11-28-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission

#134 Adding KIT.
  data-processed/KIT-simple_nowcast/2021-11-28-KIT-simple_nowcast.csv
Labels: data-submission

#135 Adding Epifoecasts
  data-processed/Epiforecasts-independent/2021-11-28-Epiforecasts-independent.csv
Labels: data-submission

#136 Adding SZ.
  data-processed/SZ-hosp_nowcast/2021-11-28-SZ-hosp_nowcast.csv
Labels: data-submission

#137 Adding ensembles.
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2021-11-28-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-11-28-NowcastHub-MedianEnsemble.csv
Labels: data-submission, other-files-updated

#138 RIVM-KEW submission 2021-11-29
  data-processed/RIVM-KEW/2021-11-29-RIVM-KEW.csv
Labels: data-submission

#139 Adding KIT
  data-processed/KIT-simple_nowcast/2021-11-29-KIT-simple_nowcast.csv
Labels: data-submission

#142 SU-hier_bayes 2021-11-29
  data-processed/SU-hier_bayes/2021-11-29-SU-hier_bayes.csv
Labels: data-submission

#141 nowcasting results LMU_StaBLab 2021-11-29
  data-processed/LMU_StaBLab-GAM_nowcast/2021-11-29-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission

#143 Adding Epiforecasts.
  data-processed/Epiforecasts-independent/2021-11-29-Epiforecasts-independent.csv
Labels: data-submission

#144 ILM-prop nowcasts for 2021-11-29
  data-processed/ILM-prop/2021-11-29-ILM-prop.csv
Labels: data-submission

#145 Adding ensemble.
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2021-11-29-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-11-29-NowcastHub-MedianEnsemble.csv
Labels: data-submission, other-files-updated

#146 RIVM-KEW submission 2021-11-30
  data-processed/RIVM-KEW/2021-11-30-RIVM-KEW.csv
Labels: data-submission

#147 Adding KIT.
  data-processed/KIT-simple_nowcast/2021-11-30-KIT-simple_nowcast.csv
Labels: data-submission

#148 Adding epiforecasts.
  data-processed/Epiforecasts-independent/2021-11-30-Epiforecasts-independent.csv
Labels: data-submission

#149 SU-hier_bayes 2021-11-30
  data-processed/SU-hier_bayes/2021-11-30-SU-hier_bayes.csv
Labels: data-submission

#151 nowcasting results LMU_StaBLab 2021-11-30
  data-processed/LMU_StaBLab-GAM_nowcast/2021-11-30-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission

#152 Adding SZ.
  data-processed/SZ-hosp_nowcast/2021-11-30-SZ-hosp_nowcast.csv
Labels: data-submission

#153 ILM submission with -0 day ahead removed
  data-processed/ILM-prop/2021-11-30-ILM-prop.csv
Labels: data-submission

#150 ILM-prop nowcasts for 2021-11-30
  data-processed/ILM-prop/2021-11-30-ILM-prop.csv
Labels: data-submission

#154 Adding ensembles.
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2021-11-30-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2021-11-30-NowcastHub-MedianEnsemble.csv
Labels: data-submission, other-files-updated
