Repository KITmetricslab/hospitalization-nowcast-hub, pull requests merged in 2022-03, with the labels that each got.

#1001 Update baseline
  data-processed/KIT-simple_nowcast/2022-03-01-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1002 RIVM-KEW submission 2022-03-01
  data-processed/RIVM-KEW/2022-03-01-RIVM-KEW.csv
Labels: data-submission, automerge

#1003 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-03-01-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1004 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-03-01-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1005 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-03-01-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1006 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-03-01-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1007 ILM-prop nowcasts for 2022-03-01
  data-processed/ILM-prop/2022-03-01-ILM-prop.csv
Labels: data-submission, automerge

#1008 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-03-01-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1009 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-03-01-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-03-01-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1010 Update baseline
  data-processed/KIT-simple_nowcast/2022-03-02-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1011 RIVM-KEW submission 2022-03-02
  data-processed/RIVM-KEW/2022-03-02-RIVM-KEW.csv
Labels: data-submission, automerge

#1012 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-03-02-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1013 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-03-02-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1015 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-03-02-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1016 ILM-prop nowcasts for 2022-03-02
  data-processed/ILM-prop/2022-03-02-ILM-prop.csv
Labels: data-submission, automerge

#1017 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-03-02-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1018 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-03-02-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-03-02-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1019 Update baseline
  data-processed/KIT-simple_nowcast/2022-03-03-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1020 RIVM-KEW submission 2022-03-03
  data-processed/RIVM-KEW/2022-03-03-RIVM-KEW.csv
Labels: data-submission, automerge

#1021 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-03-03-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1022 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-03-03-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1023 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-03-03-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1024 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-03-03-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1025 ILM-prop nowcasts for 2022-03-03
  data-processed/ILM-prop/2022-03-03-ILM-prop.csv
Labels: data-submission, automerge

#1027 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-03-03-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-03-03-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1028 Update baseline
  data-processed/KIT-simple_nowcast/2022-03-04-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1029 RIVM-KEW submission 2022-03-04
  data-processed/RIVM-KEW/2022-03-04-RIVM-KEW.csv
Labels: data-submission, automerge

#1030 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-03-04-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1031 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-03-04-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1032 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-03-04-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1033 ILM-prop nowcasts for 2022-03-04
  data-processed/ILM-prop/2022-03-04-ILM-prop.csv
Labels: data-submission, automerge

#1034 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-03-04-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1035 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-03-04-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1036 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-03-04-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-03-04-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1037 Update baseline
  data-processed/KIT-simple_nowcast/2022-03-05-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1038 RIVM-KEW submission 2022-03-05
  data-processed/RIVM-KEW/2022-03-05-RIVM-KEW.csv
Labels: data-submission, automerge

#1039 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-03-05-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1040 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-03-05-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1041 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-03-05-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1042 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-03-05-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1043 ILM-prop nowcasts for 2022-03-05
  data-processed/ILM-prop/2022-03-05-ILM-prop.csv
Labels: data-submission, automerge

#1044 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-03-05-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1045 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-03-05-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-03-05-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1046 Update baseline
  data-processed/KIT-simple_nowcast/2022-03-06-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1047 RIVM-KEW submission 2022-03-06
  data-processed/RIVM-KEW/2022-03-06-RIVM-KEW.csv
Labels: data-submission, automerge

#1048 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-03-06-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1049 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-03-06-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1050 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-03-06-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1051 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-03-06-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1052 ILM-prop nowcasts for 2022-03-06
  data-processed/ILM-prop/2022-03-06-ILM-prop.csv
Labels: data-submission, automerge

#1053 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-03-06-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1054 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-03-06-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-03-06-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1055 Update baseline
  data-processed/KIT-simple_nowcast/2022-03-07-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1056 RIVM-KEW submission 2022-03-07
  data-processed/RIVM-KEW/2022-03-07-RIVM-KEW.csv
Labels: data-submission, automerge

#1057 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-03-07-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1058 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-03-07-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1059 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-03-07-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1060 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-03-07-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1061 ILM-prop nowcasts for 2022-03-07
  data-processed/ILM-prop/2022-03-07-ILM-prop.csv
Labels: data-submission, automerge

#1062 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-03-07-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1063 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-03-07-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-03-07-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1064 Update baseline
  data-processed/KIT-simple_nowcast/2022-03-08-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1065 RIVM-KEW submission 2022-03-08
  data-processed/RIVM-KEW/2022-03-08-RIVM-KEW.csv
Labels: data-submission, automerge

#1066 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-03-08-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1067 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-03-08-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1068 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-03-08-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1069 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-03-08-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1070 ILM-prop nowcasts for 2022-03-08
  data-processed/ILM-prop/2022-03-08-ILM-prop.csv
Labels: data-submission, automerge

#1071 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-03-08-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1072 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-03-08-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-03-08-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1073 Update baseline
  data-processed/KIT-simple_nowcast/2022-03-09-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1074 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-03-09-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1075 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-03-09-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1076 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-03-09-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1077 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-03-09-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1078 ILM-prop nowcasts for 2022-03-09
  data-processed/ILM-prop/2022-03-09-ILM-prop.csv
Labels: data-submission, automerge

#1079 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-03-09-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1080 Adding RIVM manually
  data-processed/RIVM-KEW/2022-03-09-RIVM-KEW.csv
Labels: data-submission, automerge

#1082 Update baseline
  data-processed/KIT-simple_nowcast/2022-03-10-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1083 Update nowcasts (RIVM) 2022-03-10
  data-processed/RIVM-KEW/2022-03-10-RIVM-KEW.csv
Labels: data-submission, automerge

#1084 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-03-10-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1085 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-03-10-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1086 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-03-10-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1087 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-03-10-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1088 ILM-prop nowcasts for 2022-03-10
  data-processed/ILM-prop/2022-03-10-ILM-prop.csv
Labels: data-submission, automerge

#1089 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-03-10-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1090 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-03-10-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-03-10-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1091 Updating ui.R
  nowcast_viz_de/ui.R
Labels: automerge

#1092 Update baseline
  data-processed/KIT-simple_nowcast/2022-03-11-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1093 Update nowcasts (RIVM) 2022-03-11
  data-processed/RIVM-KEW/2022-03-11-RIVM-KEW.csv
Labels: data-submission, automerge

#1094 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-03-11-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1095 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-03-11-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1096 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-03-11-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1097 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-03-11-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1098 ILM-prop nowcasts for 2022-03-11
  data-processed/ILM-prop/2022-03-11-ILM-prop.csv
Labels: data-submission, automerge

#1099 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-03-11-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1100 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-03-11-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-03-11-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1101 Update baseline
  data-processed/KIT-simple_nowcast/2022-03-12-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1102 Update nowcasts (RIVM) 2022-03-12
  data-processed/RIVM-KEW/2022-03-12-RIVM-KEW.csv
Labels: data-submission, automerge

#1103 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-03-12-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1104 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-03-12-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1105 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-03-12-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1106 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-03-12-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1107 ILM-prop nowcasts for 2022-03-12
  data-processed/ILM-prop/2022-03-12-ILM-prop.csv
Labels: data-submission, automerge

#1108 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-03-12-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1109 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-03-12-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-03-12-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1110 Update baseline
  data-processed/KIT-simple_nowcast/2022-03-13-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1111 Update nowcasts (RIVM) 2022-03-13
  data-processed/RIVM-KEW/2022-03-13-RIVM-KEW.csv
Labels: data-submission, automerge

#1112 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-03-13-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1113 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-03-13-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1114 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-03-13-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1115 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-03-13-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1116 ILM-prop nowcasts for 2022-03-13
  data-processed/ILM-prop/2022-03-13-ILM-prop.csv
Labels: data-submission, automerge

#1117 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-03-13-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1118 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-03-13-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-03-13-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1119 Update baseline
  data-processed/KIT-simple_nowcast/2022-03-14-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1120 Update nowcasts (RIVM) 2022-03-14
  data-processed/RIVM-KEW/2022-03-14-RIVM-KEW.csv
Labels: data-submission, automerge

#1121 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-03-14-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1122 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-03-14-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1123 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-03-14-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1124 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-03-14-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1126 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-03-14-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1127 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-03-14-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-03-14-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1128 Update baseline
  data-processed/KIT-simple_nowcast/2022-03-15-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1129 Update nowcasts (RIVM) 2022-03-15
  data-processed/RIVM-KEW/2022-03-15-RIVM-KEW.csv
Labels: data-submission, automerge

#1130 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-03-15-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1131 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-03-15-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1132 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-03-15-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1133 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-03-15-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1134 ILM-prop nowcasts for 2022-03-15
  data-processed/ILM-prop/2022-03-15-ILM-prop.csv
Labels: data-submission, automerge

#1135 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-03-15-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1136 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-03-15-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-03-15-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1137 Update baseline
  data-processed/KIT-simple_nowcast/2022-03-16-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1138 Update nowcasts (RIVM) 2022-03-16
  data-processed/RIVM-KEW/2022-03-16-RIVM-KEW.csv
Labels: data-submission, automerge

#1139 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-03-16-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1140 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-03-16-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1141 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-03-16-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1142 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-03-16-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1143 ILM-prop nowcasts for 2022-03-16
  data-processed/ILM-prop/2022-03-16-ILM-prop.csv
Labels: data-submission, automerge

#1144 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-03-16-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1145 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-03-16-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-03-16-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1146 Update baseline
  data-processed/KIT-simple_nowcast/2022-03-17-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1147 Update nowcasts (RIVM) 2022-03-17
  data-processed/RIVM-KEW/2022-03-17-RIVM-KEW.csv
Labels: data-submission, automerge

#1148 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-03-17-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1149 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-03-17-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1150 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-03-17-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1151 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-03-17-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1152 ILM-prop nowcasts for 2022-03-17
  data-processed/ILM-prop/2022-03-17-ILM-prop.csv
Labels: data-submission, automerge

#1153 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-03-17-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1154 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-03-17-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-03-17-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge
