Repository KITmetricslab/hospitalization-nowcast-hub, pull requests merged in 2022-05, with the labels that each got.

#1540 Update baseline
  data-processed/KIT-simple_nowcast/2022-05-01-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1541 Update nowcasts (RIVM) 2022-05-01
  data-processed/RIVM-KEW/2022-05-01-RIVM-KEW.csv
Labels: data-submission, automerge

#1542 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-05-01-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1543 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-05-01-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1544 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-05-01-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1545 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-05-01-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1546 ILM-prop nowcasts for 2022-05-01
  data-processed/ILM-prop/2022-05-01-ILM-prop.csv
Labels: data-submission, automerge

#1547 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-05-01-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1548 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-05-01-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-05-01-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1549 Update baseline
  data-processed/KIT-simple_nowcast/2022-05-02-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1550 Update nowcasts (RIVM) 2022-05-02
  data-processed/RIVM-KEW/2022-05-02-RIVM-KEW.csv
Labels: data-submission, automerge

#1551 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-05-02-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1552 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-05-02-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1553 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-05-02-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1554 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-05-02-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1555 ILM-prop nowcasts for 2022-05-02
  data-processed/ILM-prop/2022-05-02-ILM-prop.csv
Labels: data-submission, automerge

#1556 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-05-02-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1557 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-05-02-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-05-02-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1558 Update baseline
  data-processed/KIT-simple_nowcast/2022-05-03-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1559 Update nowcasts (RIVM) 2022-05-03
  data-processed/RIVM-KEW/2022-05-03-RIVM-KEW.csv
Labels: data-submission, automerge

#1560 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-05-03-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1561 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-05-03-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1562 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-05-03-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1563 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-05-03-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1564 ILM-prop nowcasts for 2022-05-03
  data-processed/ILM-prop/2022-05-03-ILM-prop.csv
Labels: data-submission, automerge

#1565 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-05-03-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1566 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-05-03-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-05-03-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1567 Update baseline
  data-processed/KIT-simple_nowcast/2022-05-04-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1568 Update nowcasts (RIVM) 2022-05-04
  data-processed/RIVM-KEW/2022-05-04-RIVM-KEW.csv
Labels: data-submission, automerge

#1569 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-05-04-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1570 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-05-04-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1571 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-05-04-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1572 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-05-04-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1573 ILM-prop nowcasts for 2022-05-04
  data-processed/ILM-prop/2022-05-04-ILM-prop.csv
Labels: data-submission, automerge

#1574 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-05-04-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1575 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-05-04-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-05-04-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1576 Update baseline
  data-processed/KIT-simple_nowcast/2022-05-05-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1577 Update nowcasts (RIVM) 2022-05-05
  data-processed/RIVM-KEW/2022-05-05-RIVM-KEW.csv
Labels: data-submission, automerge

#1578 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-05-05-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1579 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-05-05-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1580 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-05-05-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1581 ILM-prop nowcasts for 2022-05-05
  data-processed/ILM-prop/2022-05-05-ILM-prop.csv
Labels: data-submission, automerge

#1582 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-05-05-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1583 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-05-05-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-05-05-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1585 Update baseline
  data-processed/KIT-simple_nowcast/2022-05-06-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1586 Update nowcasts (RIVM) 2022-05-06
  data-processed/RIVM-KEW/2022-05-06-RIVM-KEW.csv
Labels: data-submission, automerge

#1584 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-05-06-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1587 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-05-06-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1588 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-05-06-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1589 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-05-06-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1590 ILM-prop nowcasts for 2022-05-06
  data-processed/ILM-prop/2022-05-06-ILM-prop.csv
Labels: data-submission, automerge

#1592 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-05-06-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-05-06-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1593 Update baseline
  data-processed/KIT-simple_nowcast/2022-05-07-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1594 Update nowcasts (RIVM) 2022-05-07
  data-processed/RIVM-KEW/2022-05-07-RIVM-KEW.csv
Labels: data-submission, automerge

#1595 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-05-07-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1596 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-05-07-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1597 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-05-07-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1598 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-05-07-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1599 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-05-07-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1600 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-05-07-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-05-07-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1601 Update baseline
  data-processed/KIT-simple_nowcast/2022-05-08-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1602 Update nowcasts (RIVM) 2022-05-08
  data-processed/RIVM-KEW/2022-05-08-RIVM-KEW.csv
Labels: data-submission, automerge

#1603 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-05-08-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1604 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-05-08-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1605 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-05-08-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1606 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-05-08-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1607 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-05-08-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1608 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-05-08-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-05-08-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1609 Update baseline
  data-processed/KIT-simple_nowcast/2022-05-09-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1610 Update nowcasts (RIVM) 2022-05-09
  data-processed/RIVM-KEW/2022-05-09-RIVM-KEW.csv
Labels: data-submission, automerge

#1611 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-05-09-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1612 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-05-09-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1613 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-05-09-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1614 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-05-09-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1616 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-05-09-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-05-09-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1617 ILM-prop nowcasts for 2022-05-09
  data-processed/ILM-prop/2022-05-09-ILM-prop.csv
Labels: data-submission, automerge

#1619 Update baseline
  data-processed/KIT-simple_nowcast/2022-05-10-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1620 Update nowcasts (RIVM) 2022-05-10
  data-processed/RIVM-KEW/2022-05-10-RIVM-KEW.csv
Labels: data-submission, automerge

#1618 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-05-09-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-05-09-NowcastHub-MedianEnsemble.csv
Labels: data-submission, forecast-updated, automated pr, automerge

#1621 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-05-10-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1622 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-05-10-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1624 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-05-10-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1625 ILM-prop nowcasts for 2022-05-10
  data-processed/ILM-prop/2022-05-10-ILM-prop.csv
Labels: data-submission, automerge

#1626 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-05-10-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1627 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-05-10-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-05-10-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1628 Update baseline
  data-processed/KIT-simple_nowcast/2022-05-11-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1629 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-05-11-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1630 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-05-11-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1631 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-05-11-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1632 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-05-11-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1633 ILM-prop nowcasts for 2022-05-11
  data-processed/ILM-prop/2022-05-11-ILM-prop.csv
Labels: data-submission, automerge

#1634 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-05-11-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1635 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-05-11-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-05-11-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1636 Update baseline
  data-processed/KIT-simple_nowcast/2022-05-12-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1637 Update nowcasts (RIVM) 2022-05-12
  data-processed/RIVM-KEW/2022-05-12-RIVM-KEW.csv
Labels: data-submission, automerge

#1638 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-05-12-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1639 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-05-12-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1640 ILM-prop nowcasts for 2022-05-12
  data-processed/ILM-prop/2022-05-12-ILM-prop.csv
Labels: data-submission, automerge

#1641 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-05-12-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1642 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-05-12-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1644 Update baseline
  data-processed/KIT-simple_nowcast/2022-05-13-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1645 Update nowcasts (RIVM) 2022-05-13
  data-processed/RIVM-KEW/2022-05-13-RIVM-KEW.csv
Labels: data-submission, automerge

#1647 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-05-13-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1648 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-05-13-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1649 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-05-13-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1650 ILM-prop nowcasts for 2022-05-13
  data-processed/ILM-prop/2022-05-13-ILM-prop.csv
Labels: data-submission, automerge

#1651 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-05-13-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1652 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-05-13-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-05-13-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1654 Update baseline
  data-processed/KIT-simple_nowcast/2022-05-14-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1655 Update nowcasts (RIVM) 2022-05-14
  data-processed/RIVM-KEW/2022-05-14-RIVM-KEW.csv
Labels: data-submission, automerge

#1656 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-05-14-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1657 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-05-14-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1653 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-05-14-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1658 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-05-14-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1659 ILM-prop nowcasts for 2022-05-14
  data-processed/ILM-prop/2022-05-14-ILM-prop.csv
Labels: data-submission, automerge

#1660 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-05-14-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1661 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-05-14-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-05-14-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1662 Update baseline
  data-processed/KIT-simple_nowcast/2022-05-15-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1663 Update nowcasts (RIVM) 2022-05-15
  data-processed/RIVM-KEW/2022-05-15-RIVM-KEW.csv
Labels: data-submission, automerge

#1664 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-05-15-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1665 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-05-15-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1666 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-05-15-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1667 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-05-15-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1668 ILM-prop nowcasts for 2022-05-15
  data-processed/ILM-prop/2022-05-15-ILM-prop.csv
Labels: data-submission, automerge

#1669 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-05-15-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1670 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-05-15-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-05-15-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1671 Update baseline
  data-processed/KIT-simple_nowcast/2022-05-16-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1672 Update nowcasts (RIVM) 2022-05-16
  data-processed/RIVM-KEW/2022-05-16-RIVM-KEW.csv
Labels: data-submission, automerge

#1673 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-05-16-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1674 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-05-16-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1675 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-05-16-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1676 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-05-16-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1677 ILM-prop nowcasts for 2022-05-16
  data-processed/ILM-prop/2022-05-16-ILM-prop.csv
Labels: data-submission, automerge

#1678 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-05-16-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1679 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-05-16-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-05-16-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1680 Update baseline
  data-processed/KIT-simple_nowcast/2022-05-17-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1681 Update nowcasts (RIVM) 2022-05-17
  data-processed/RIVM-KEW/2022-05-17-RIVM-KEW.csv
Labels: data-submission, automerge

#1682 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-05-17-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1683 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-05-17-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1684 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-05-17-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1685 ILM-prop nowcasts for 2022-05-17
  data-processed/ILM-prop/2022-05-17-ILM-prop.csv
Labels: data-submission, automerge

#1686 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-05-17-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#1687 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-05-17-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#1688 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-05-17-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-05-17-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#1689 Update baseline
  data-processed/KIT-simple_nowcast/2022-05-18-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#1690 Update nowcasts (RIVM) 2022-05-18
  data-processed/RIVM-KEW/2022-05-18-RIVM-KEW.csv
Labels: data-submission, automerge

#1691 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-05-18-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#1692 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-05-18-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#1693 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-05-18-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#1694 ILM-prop nowcasts for 2022-05-18
  data-processed/ILM-prop/2022-05-18-ILM-prop.csv
Labels: data-submission, automerge
