Repository KITmetricslab/hospitalization-nowcast-hub, pull requests merged in 2022-10, with the labels that each got.

#2787 Update nowcasts (RIVM) 2022-10-01
  data-processed/RIVM-KEW/2022-10-01-RIVM-KEW.csv
Labels: data-submission, automerge

#2788 Update baseline
  data-processed/KIT-simple_nowcast/2022-10-01-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2789 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-10-01-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2790 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-10-01-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2791 ILM-prop nowcasts for 2022-10-01
  data-processed/ILM-prop/2022-10-01-ILM-prop.csv
Labels: data-submission, automerge

#2792 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-10-01-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2793 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-10-01-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-10-01-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2794 Update baseline
  data-processed/KIT-simple_nowcast/2022-10-02-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2795 Update nowcasts (RIVM) 2022-10-02
  data-processed/RIVM-KEW/2022-10-02-RIVM-KEW.csv
Labels: data-submission, automerge

#2796 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-10-02-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2797 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-10-02-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2798 ILM-prop nowcasts for 2022-10-02
  data-processed/ILM-prop/2022-10-02-ILM-prop.csv
Labels: data-submission, automerge

#2799 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-10-02-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2800 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-10-02-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-10-02-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2801 Update baseline
  data-processed/KIT-simple_nowcast/2022-10-03-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2802 Update nowcasts (RIVM) 2022-10-03
  data-processed/RIVM-KEW/2022-10-03-RIVM-KEW.csv
Labels: data-submission, automerge

#2803 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-10-03-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2804 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-10-03-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2805 ILM-prop nowcasts for 2022-10-03
  data-processed/ILM-prop/2022-10-03-ILM-prop.csv
Labels: data-submission, automerge

#2806 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-10-03-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2807 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-10-03-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-10-03-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2808 Update baseline
  data-processed/KIT-simple_nowcast/2022-10-04-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2809 Update nowcasts (RIVM) 2022-10-04
  data-processed/RIVM-KEW/2022-10-04-RIVM-KEW.csv
Labels: data-submission, automerge

#2810 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-10-04-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2811 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-10-04-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2812 ILM-prop nowcasts for 2022-10-04
  data-processed/ILM-prop/2022-10-04-ILM-prop.csv
Labels: data-submission, automerge

#2813 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-10-04-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2814 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-10-04-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2815 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-10-04-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-10-04-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2816 Update baseline
  data-processed/KIT-simple_nowcast/2022-10-05-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2817 Update nowcasts (RIVM) 2022-10-05
  data-processed/RIVM-KEW/2022-10-05-RIVM-KEW.csv
Labels: data-submission, automerge

#2818 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-10-05-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2819 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-10-05-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2820 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-10-05-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2821 ILM-prop nowcasts for 2022-10-05
  data-processed/ILM-prop/2022-10-05-ILM-prop.csv
Labels: data-submission, automerge

#2822 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-10-05-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2824 Update baseline
  data-processed/KIT-simple_nowcast/2022-10-06-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2825 Update nowcasts (RIVM) 2022-10-06
  data-processed/RIVM-KEW/2022-10-06-RIVM-KEW.csv
Labels: data-submission, automerge

#2829 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-10-06-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2830 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-10-06-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-10-06-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2831 Update baseline
  data-processed/KIT-simple_nowcast/2022-10-07-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2832 Update nowcasts (RIVM) 2022-10-07
  data-processed/RIVM-KEW/2022-10-07-RIVM-KEW.csv
Labels: data-submission, automerge

#2833 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-10-07-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2834 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-10-07-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2835 ILM-prop nowcasts for 2022-10-07
  data-processed/ILM-prop/2022-10-07-ILM-prop.csv
Labels: data-submission, automerge

#2836 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-10-07-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2837 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-10-07-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2838 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-10-07-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-10-07-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2839 Update baseline
  data-processed/KIT-simple_nowcast/2022-10-08-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2840 Update nowcasts (RIVM) 2022-10-08
  data-processed/RIVM-KEW/2022-10-08-RIVM-KEW.csv
Labels: data-submission, automerge

#2841 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-10-08-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2842 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-10-08-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2843 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-10-08-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2844 ILM-prop nowcasts for 2022-10-08
  data-processed/ILM-prop/2022-10-08-ILM-prop.csv
Labels: data-submission, automerge

#2845 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-10-08-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2846 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-10-08-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-10-08-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2847 Update baseline
  data-processed/KIT-simple_nowcast/2022-10-09-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2848 Update nowcasts (RIVM) 2022-10-09
  data-processed/RIVM-KEW/2022-10-09-RIVM-KEW.csv
Labels: data-submission, automerge

#2849 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-10-09-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2850 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-10-09-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2851 ILM-prop nowcasts for 2022-10-09
  data-processed/ILM-prop/2022-10-09-ILM-prop.csv
Labels: data-submission, automerge

#2852 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-10-09-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2853 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-10-09-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-10-09-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2854 Update baseline
  data-processed/KIT-simple_nowcast/2022-10-10-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2855 Update nowcasts (RIVM) 2022-10-10
  data-processed/RIVM-KEW/2022-10-10-RIVM-KEW.csv
Labels: data-submission, automerge

#2856 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-10-10-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2857 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-10-10-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2858 ILM-prop nowcasts for 2022-10-10
  data-processed/ILM-prop/2022-10-10-ILM-prop.csv
Labels: data-submission, automerge

#2859 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-10-10-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2860 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-10-10-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2861 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-10-10-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-10-10-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2862 Update baseline
  data-processed/KIT-simple_nowcast/2022-10-11-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2863 Update nowcasts (RIVM) 2022-10-11
  data-processed/RIVM-KEW/2022-10-11-RIVM-KEW.csv
Labels: data-submission, automerge

#2864 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-10-11-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2866 ILM-prop nowcasts for 2022-10-11
  data-processed/ILM-prop/2022-10-11-ILM-prop.csv
Labels: data-submission, automerge

#2867 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-10-11-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2868 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-10-11-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2870 Update baseline
  data-processed/KIT-simple_nowcast/2022-10-12-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2871 Update nowcasts (RIVM) 2022-10-12
  data-processed/RIVM-KEW/2022-10-12-RIVM-KEW.csv
Labels: data-submission, automerge

#2872 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-10-12-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2873 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-10-12-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2874 ILM-prop nowcasts for 2022-10-12
  data-processed/ILM-prop/2022-10-12-ILM-prop.csv
Labels: data-submission, automerge

#2875 Adding metadata for ensembles (had somehow been missing).
  data-processed/NowcastHub-MeanEnsemble/metadata-NowcastHub-MeanEnsemble.txt
  data-processed/NowcastHub-MedianEnsemble/metadata-NowcastHub-MedianEnsemble.txt
Labels: metadata-change, automerge

#2876 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-10-12-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2877 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-10-12-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-10-12-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2878 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-10-12-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2879 Update baseline
  data-processed/KIT-simple_nowcast/2022-10-13-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2880 Update nowcasts (RIVM) 2022-10-13
  data-processed/RIVM-KEW/2022-10-13-RIVM-KEW.csv
Labels: data-submission, automerge

#2881 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-10-13-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2882 ILM-prop nowcasts for 2022-10-13
  data-processed/ILM-prop/2022-10-13-ILM-prop.csv
Labels: data-submission, automerge

#2883 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-10-13-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2884 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-10-13-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2885 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-10-13-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2886 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-10-13-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-10-13-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2887 Update baseline
  data-processed/KIT-simple_nowcast/2022-10-14-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2888 Update nowcasts (RIVM) 2022-10-14
  data-processed/RIVM-KEW/2022-10-14-RIVM-KEW.csv
Labels: data-submission, automerge

#2889 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-10-14-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2890 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-10-14-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2891 ILM-prop nowcasts for 2022-10-14
  data-processed/ILM-prop/2022-10-14-ILM-prop.csv
Labels: data-submission, automerge

#2892 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-10-14-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2893 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-10-14-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2894 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-10-14-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-10-14-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2895 Update baseline
  data-processed/KIT-simple_nowcast/2022-10-15-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2896 Update nowcasts (RIVM) 2022-10-15
  data-processed/RIVM-KEW/2022-10-15-RIVM-KEW.csv
Labels: data-submission, automerge

#2897 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-10-15-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2898 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-10-15-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2899 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-10-15-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2900 ILM-prop nowcasts for 2022-10-15
  data-processed/ILM-prop/2022-10-15-ILM-prop.csv
Labels: data-submission, automerge

#2901 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-10-15-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2902 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-10-15-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-10-15-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2903 Update baseline
  data-processed/KIT-simple_nowcast/2022-10-16-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2904 Update nowcasts (RIVM) 2022-10-16
  data-processed/RIVM-KEW/2022-10-16-RIVM-KEW.csv
Labels: data-submission, automerge

#2905 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-10-16-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2907 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-10-16-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2906 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-10-16-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2908 ILM-prop nowcasts for 2022-10-16
  data-processed/ILM-prop/2022-10-16-ILM-prop.csv
Labels: data-submission, automerge

#2909 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-10-16-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2910 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-10-16-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-10-16-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2912 Update nowcasts (RIVM) 2022-10-17
  data-processed/RIVM-KEW/2022-10-17-RIVM-KEW.csv
Labels: data-submission, automerge

#2914 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-10-17-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2915 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-10-17-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2916 ILM-prop nowcasts for 2022-10-17
  data-processed/ILM-prop/2022-10-17-ILM-prop.csv
Labels: data-submission, automerge

#2917 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-10-17-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2918 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-10-17-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-10-17-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2920 Update baseline
  data-processed/KIT-simple_nowcast/2022-10-18-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2921 Update nowcasts (RIVM) 2022-10-18
  data-processed/RIVM-KEW/2022-10-18-RIVM-KEW.csv
Labels: data-submission, automerge

#2922 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-10-18-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2923 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-10-18-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2924 ILM-prop nowcasts for 2022-10-18
  data-processed/ILM-prop/2022-10-18-ILM-prop.csv
Labels: data-submission, automerge

#2925 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-10-18-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2926 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-10-18-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-10-18-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2927 Update baseline
  data-processed/KIT-simple_nowcast/2022-10-19-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2928 Update nowcasts (RIVM) 2022-10-19
  data-processed/RIVM-KEW/2022-10-19-RIVM-KEW.csv
Labels: data-submission, automerge

#2929 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-10-19-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2931 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-10-19-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2934 Update baseline
  data-processed/KIT-simple_nowcast/2022-10-20-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2935 Update nowcasts (RIVM) 2022-10-20
  data-processed/RIVM-KEW/2022-10-20-RIVM-KEW.csv
Labels: data-submission, automerge

#2937 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-10-20-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2938 ILM-prop nowcasts for 2022-10-20
  data-processed/ILM-prop/2022-10-20-ILM-prop.csv
Labels: data-submission, automerge

#2939 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-10-20-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2940 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-10-20-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-10-20-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2941 Update baseline
  data-processed/KIT-simple_nowcast/2022-10-21-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2942 Update nowcasts (RIVM) 2022-10-21
  data-processed/RIVM-KEW/2022-10-21-RIVM-KEW.csv
Labels: data-submission, automerge

#2943 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-10-21-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2944 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-10-21-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2945 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-10-21-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2946 ILM-prop nowcasts for 2022-10-21
  data-processed/ILM-prop/2022-10-21-ILM-prop.csv
Labels: data-submission, automerge

#2947 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-10-21-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2949 Update baseline
  data-processed/KIT-simple_nowcast/2022-10-22-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2950 Update nowcasts (RIVM) 2022-10-22
  data-processed/RIVM-KEW/2022-10-22-RIVM-KEW.csv
Labels: data-submission, automerge
