Repository KITmetricslab/hospitalization-nowcast-hub, pull requests merged in 2022-11, with the labels that each got.

#3027 Update baseline
  data-processed/KIT-simple_nowcast/2022-11-01-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#3028 Update nowcasts (RIVM) 2022-11-01
  data-processed/RIVM-KEW/2022-11-01-RIVM-KEW.csv
Labels: data-submission, automerge

#3029 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-11-01-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#3030 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-11-01-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#3031 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-11-01-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#3032 ILM-prop nowcasts for 2022-11-01
  data-processed/ILM-prop/2022-11-01-ILM-prop.csv
Labels: data-submission, automerge

#3033 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-11-01-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#3034 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-11-01-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-11-01-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#3035 Update baseline
  data-processed/KIT-simple_nowcast/2022-11-02-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#3036 Update nowcasts (RIVM) 2022-11-02
  data-processed/RIVM-KEW/2022-11-02-RIVM-KEW.csv
Labels: data-submission, automerge

#3038 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-11-02-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#3039 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-11-02-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#3037 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-11-02-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#3040 ILM-prop nowcasts for 2022-11-02
  data-processed/ILM-prop/2022-11-02-ILM-prop.csv
Labels: data-submission, automerge

#3041 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-11-02-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#3043 Update baseline
  data-processed/KIT-simple_nowcast/2022-11-03-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#3044 Update nowcasts (RIVM) 2022-11-03
  data-processed/RIVM-KEW/2022-11-03-RIVM-KEW.csv
Labels: data-submission, automerge

#3045 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-11-03-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#3046 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-11-03-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#3047 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-11-03-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#3048 ILM-prop nowcasts for 2022-11-03
  data-processed/ILM-prop/2022-11-03-ILM-prop.csv
Labels: data-submission, automerge

#3049 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-11-03-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#3050 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-11-03-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-11-03-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#3051 Update baseline
  data-processed/KIT-simple_nowcast/2022-11-04-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#3052 Update nowcasts (RIVM) 2022-11-04
  data-processed/RIVM-KEW/2022-11-04-RIVM-KEW.csv
Labels: data-submission, automerge

#3053 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-11-04-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#3054 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-11-04-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#3055 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-11-04-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#3056 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-11-04-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#3057 ILM-prop nowcasts for 2022-11-04
  data-processed/ILM-prop/2022-11-04-ILM-prop.csv
Labels: data-submission, automerge

#3058 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-11-04-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-11-04-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#3059 Update baseline
  data-processed/KIT-simple_nowcast/2022-11-05-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#3060 Update nowcasts (RIVM) 2022-11-05
  data-processed/RIVM-KEW/2022-11-05-RIVM-KEW.csv
Labels: data-submission, automerge

#3061 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-11-05-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#3062 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-11-05-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#3063 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-11-05-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#3064 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-11-05-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#3065 ILM-prop nowcasts for 2022-11-05
  data-processed/ILM-prop/2022-11-05-ILM-prop.csv
Labels: data-submission, automerge

#3066 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-11-05-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-11-05-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#3067 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-11-07-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#3070 Update baseline
  data-processed/KIT-simple_nowcast/2022-11-08-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#3071 Update nowcasts (RIVM) 2022-11-08
  data-processed/RIVM-KEW/2022-11-08-RIVM-KEW.csv
Labels: data-submission, automerge

#3072 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-11-08-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#3073 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-11-08-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#3074 ILM-prop nowcasts for 2022-11-08
  data-processed/ILM-prop/2022-11-08-ILM-prop.csv
Labels: data-submission, automerge

#3075 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-11-08-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#3077 Update baseline
  data-processed/KIT-simple_nowcast/2022-11-09-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#3078 Update nowcasts (RIVM) 2022-11-09
  data-processed/RIVM-KEW/2022-11-09-RIVM-KEW.csv
Labels: data-submission, automerge

#3079 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-11-09-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#3080 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-11-09-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#3081 ILM-prop nowcasts for 2022-11-09
  data-processed/ILM-prop/2022-11-09-ILM-prop.csv
Labels: data-submission, automerge

#3082 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-11-09-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-11-09-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#3083 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-11-09-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#3084 Update baseline
  data-processed/KIT-simple_nowcast/2022-11-10-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#3085 Update nowcasts (RIVM) 2022-11-10
  data-processed/RIVM-KEW/2022-11-10-RIVM-KEW.csv
Labels: data-submission, automerge

#3086 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-11-10-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#3087 ILM-prop nowcasts for 2022-11-10
  data-processed/ILM-prop/2022-11-10-ILM-prop.csv
Labels: data-submission, automerge

#3088 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-11-10-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#3089 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-11-10-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#3090 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-11-10-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-11-10-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#3091 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-11-10-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#3092 Update baseline
  data-processed/KIT-simple_nowcast/2022-11-11-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#3093 Update nowcasts (RIVM) 2022-11-11
  data-processed/RIVM-KEW/2022-11-11-RIVM-KEW.csv
Labels: data-submission, automerge

#3094 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-11-11-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#3095 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-11-11-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#3096 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-11-11-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#3097 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-11-11-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#3098 ILM-prop nowcasts for 2022-11-11
  data-processed/ILM-prop/2022-11-11-ILM-prop.csv
Labels: data-submission, automerge

#3099 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-11-11-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-11-11-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#3100 Update baseline
  data-processed/KIT-simple_nowcast/2022-11-12-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#3101 Update nowcasts (RIVM) 2022-11-12
  data-processed/RIVM-KEW/2022-11-12-RIVM-KEW.csv
Labels: data-submission, automerge

#3102 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-11-12-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#3103 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-11-12-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#3104 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-11-12-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#3105 ILM-prop nowcasts for 2022-11-12
  data-processed/ILM-prop/2022-11-12-ILM-prop.csv
Labels: data-submission, automerge

#3106 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-11-12-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-11-12-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#3107 Update baseline
  data-processed/KIT-simple_nowcast/2022-11-13-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#3108 Update nowcasts (RIVM) 2022-11-13
  data-processed/RIVM-KEW/2022-11-13-RIVM-KEW.csv
Labels: data-submission, automerge

#3109 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-11-13-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#3110 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-11-13-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#3111 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-11-13-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#3113 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-11-13-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-11-13-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#3114 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-11-13-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#3115 Update baseline
  data-processed/KIT-simple_nowcast/2022-11-14-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#3118 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-11-14-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#3119 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-11-14-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#3120 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-11-14-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#3121 ILM-prop nowcasts for 2022-11-14
  data-processed/ILM-prop/2022-11-14-ILM-prop.csv
Labels: data-submission, automerge

#3122 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-11-14-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-11-14-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#3123 Update baseline
  data-processed/KIT-simple_nowcast/2022-11-15-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#3124 Update nowcasts (RIVM) 2022-11-15
  data-processed/RIVM-KEW/2022-11-15-RIVM-KEW.csv
Labels: data-submission, automerge

#3112 ILM-prop nowcasts for 2022-11-13
  data-processed/ILM-prop/2022-11-13-ILM-prop.csv
Labels: data-submission, automerge

#3125 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-11-15-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#3126 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-11-15-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#3128 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-11-15-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#3129 ILM-prop nowcasts for 2022-11-15
  data-processed/ILM-prop/2022-11-15-ILM-prop.csv
Labels: data-submission, automerge

#3130 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-11-15-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-11-15-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#3131 Update baseline
  data-processed/KIT-simple_nowcast/2022-11-16-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#3132 Update nowcasts (RIVM) 2022-11-16
  data-processed/RIVM-KEW/2022-11-16-RIVM-KEW.csv
Labels: data-submission, automerge

#3133 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-11-16-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#3134 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-11-16-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#3135 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-11-16-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#3136 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-11-16-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#3138 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-11-16-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-11-16-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#3137 ILM-prop nowcasts for 2022-11-16
  data-processed/ILM-prop/2022-11-16-ILM-prop.csv
Labels: data-submission, automerge

#3139 Update baseline
  data-processed/KIT-simple_nowcast/2022-11-17-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#3140 Update nowcasts (RIVM) 2022-11-17
  data-processed/RIVM-KEW/2022-11-17-RIVM-KEW.csv
Labels: data-submission, automerge

#3141 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-11-17-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#3142 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-11-17-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#3143 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-11-17-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#3144 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-11-17-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#3145 ILM-prop nowcasts for 2022-11-17
  data-processed/ILM-prop/2022-11-17-ILM-prop.csv
Labels: data-submission, automerge

#3146 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-11-17-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-11-17-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#3147 Update baseline
  data-processed/KIT-simple_nowcast/2022-11-18-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#3148 Update nowcasts (RIVM) 2022-11-18
  data-processed/RIVM-KEW/2022-11-18-RIVM-KEW.csv
Labels: data-submission, automerge

#3149 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-11-18-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#3151 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-11-18-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#3152 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-11-18-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#3153 ILM-prop nowcasts for 2022-11-18
  data-processed/ILM-prop/2022-11-18-ILM-prop.csv
Labels: data-submission, automerge

#3154 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-11-18-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-11-18-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#3155 Update baseline
  data-processed/KIT-simple_nowcast/2022-11-19-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#3156 Update nowcasts (RIVM) 2022-11-19
  data-processed/RIVM-KEW/2022-11-19-RIVM-KEW.csv
Labels: data-submission, automerge

#3157 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-11-19-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#3158 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-11-19-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#3159 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-11-19-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#3160 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-11-19-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#3161 ILM-prop nowcasts for 2022-11-19
  data-processed/ILM-prop/2022-11-19-ILM-prop.csv
Labels: data-submission, automerge

#3163 Update baseline
  data-processed/KIT-simple_nowcast/2022-11-20-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#3164 Update nowcasts (RIVM) 2022-11-20
  data-processed/RIVM-KEW/2022-11-20-RIVM-KEW.csv
Labels: data-submission, automerge

#3165 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-11-20-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#3166 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-11-20-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#3167 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-11-20-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#3168 ILM-prop nowcasts for 2022-11-20
  data-processed/ILM-prop/2022-11-20-ILM-prop.csv
Labels: data-submission, automerge

#3169 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-11-20-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#3171 Update baseline
  data-processed/KIT-simple_nowcast/2022-11-21-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#3172 Update nowcasts (RIVM) 2022-11-21
  data-processed/RIVM-KEW/2022-11-21-RIVM-KEW.csv
Labels: data-submission, automerge

#3170 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-11-20-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-11-20-NowcastHub-MedianEnsemble.csv
Labels: automated pr

#3173 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-11-21-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#3174 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-11-21-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#3175 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-11-21-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#3176 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-11-21-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#3177 ILM-prop nowcasts for 2022-11-21
  data-processed/ILM-prop/2022-11-21-ILM-prop.csv
Labels: data-submission, automerge

#3178 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-11-21-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-11-21-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#3179 Update nowcasts (RIVM) 2022-11-22
  data-processed/RIVM-KEW/2022-11-22-RIVM-KEW.csv
Labels: data-submission, automerge

#3180 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-11-22-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#3181 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-11-22-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#3182 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-11-22-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#3183 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-11-22-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#3184 ILM-prop nowcasts for 2022-11-22
  data-processed/ILM-prop/2022-11-22-ILM-prop.csv
Labels: data-submission, automerge

#3186 Update nowcasts (RIVM) 2022-11-23
  data-processed/RIVM-KEW/2022-11-23-RIVM-KEW.csv
Labels: data-submission, automerge
