Repository KITmetricslab/hospitalization-nowcast-hub, pull requests merged in 2022-01, with the labels that each got.

#457 Update baseline
  data-processed/KIT-simple_nowcast/2022-01-01-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#458 RIVM-KEW submission 2022-01-01
  data-processed/RIVM-KEW/2022-01-01-RIVM-KEW.csv
Labels: data-submission, automerge

#459 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-01-01-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#460 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-01-01-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#461 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-01-01-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#462 ILM-prop nowcasts for 2022-01-01
  data-processed/ILM-prop/2022-01-01-ILM-prop.csv
Labels: data-submission, automerge

#463 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-01-01-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#464 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-01-01-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#465 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-01-01-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-01-01-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#466 Update baseline
  data-processed/KIT-simple_nowcast/2022-01-02-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#467 RIVM-KEW submission 2022-01-02
  data-processed/RIVM-KEW/2022-01-02-RIVM-KEW.csv
Labels: data-submission, automerge

#468 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-01-02-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#469 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-01-02-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#470 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-01-02-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#471 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-01-02-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#472 ILM-prop nowcasts for 2022-01-02
  data-processed/ILM-prop/2022-01-02-ILM-prop.csv
Labels: data-submission, automerge

#473 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-01-02-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-01-02-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#474 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-01-02-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#475 Update baseline
  data-processed/KIT-simple_nowcast/2022-01-03-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#476 RIVM-KEW submission 2022-01-03
  data-processed/RIVM-KEW/2022-01-03-RIVM-KEW.csv
Labels: data-submission, automerge

#477 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-01-03-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#478 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-01-03-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#479 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-01-03-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#480 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-01-03-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#481 ILM-prop nowcasts for 2022-01-03
  data-processed/ILM-prop/2022-01-03-ILM-prop.csv
Labels: data-submission, automerge

#482 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-01-03-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#483 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-01-03-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-01-03-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#484 Update baseline
  data-processed/KIT-simple_nowcast/2022-01-04-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#485 RIVM-KEW submission 2022-01-04
  data-processed/RIVM-KEW/2022-01-04-RIVM-KEW.csv
Labels: data-submission, automerge

#486 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-01-04-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#487 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-01-04-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#488 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-01-04-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#489 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-01-04-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#490 ILM-prop nowcasts for 2022-01-04
  data-processed/ILM-prop/2022-01-04-ILM-prop.csv
Labels: data-submission, automerge

#491 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-01-04-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#492 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-01-04-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-01-04-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#493 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-01-05-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#494 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-01-05-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#496 Update baseline
  data-processed/KIT-simple_nowcast/2022-01-05-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#499 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-01-05-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#500 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-01-05-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#501 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-01-05-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#502 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-01-05-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#503 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-01-05-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-01-05-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#504 Update baseline
  data-processed/KIT-simple_nowcast/2022-01-06-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#505 RIVM-KEW submission 2022-01-06
  data-processed/RIVM-KEW/2022-01-06-RIVM-KEW.csv
Labels: data-submission, automerge

#506 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-01-06-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#507 ILM-prop nowcasts for 2022-01-06
  data-processed/ILM-prop/2022-01-06-ILM-prop.csv
Labels: data-submission, automerge

#508 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-01-06-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#509 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-01-06-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#510 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-01-06-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#511 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-01-06-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#512 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-01-06-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-01-06-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#513 Update baseline
  data-processed/KIT-simple_nowcast/2022-01-07-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#514 RIVM-KEW submission 2022-01-07
  data-processed/RIVM-KEW/2022-01-07-RIVM-KEW.csv
Labels: data-submission, automerge

#515 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-01-07-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#516 ILM-prop nowcasts for 2022-01-07
  data-processed/ILM-prop/2022-01-07-ILM-prop.csv
Labels: data-submission, automerge

#517 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-01-07-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#518 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-01-07-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#519 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-01-07-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#520 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-01-07-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#521 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-01-07-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-01-07-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#522 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-01-08-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#523 Update baseline
  data-processed/KIT-simple_nowcast/2022-01-08-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#524 ILM-prop nowcasts for 2022-01-08
  data-processed/ILM-prop/2022-01-08-ILM-prop.csv
Labels: data-submission, automerge

#525 RIVM-KEW submission 2022-01-08
  data-processed/RIVM-KEW/2022-01-08-RIVM-KEW.csv
Labels: data-submission, automerge

#526 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-01-08-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#527 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-01-08-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#528 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-01-08-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#529 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-01-08-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#530 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-01-08-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-01-08-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#531 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-01-09-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#532 Update baseline
  data-processed/KIT-simple_nowcast/2022-01-09-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#533 RIVM-KEW submission 2022-01-09
  data-processed/RIVM-KEW/2022-01-09-RIVM-KEW.csv
Labels: data-submission, automerge

#534 ILM-prop nowcasts for 2022-01-09
  data-processed/ILM-prop/2022-01-09-ILM-prop.csv
Labels: data-submission, automerge

#535 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-01-09-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#536 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-01-09-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#537 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-01-09-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#538 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-01-09-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#539 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-01-09-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-01-09-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#540 Update baseline
  data-processed/KIT-simple_nowcast/2022-01-10-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#541 RIVM-KEW submission 2022-01-10
  data-processed/RIVM-KEW/2022-01-10-RIVM-KEW.csv
Labels: data-submission, automerge

#542 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-01-10-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#543 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-01-10-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#544 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-01-10-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#545 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-01-10-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#546 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-01-10-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#547 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-01-10-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-01-10-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#548 ILM-prop nowcasts for 2022-01-10
  data-processed/ILM-prop/2022-01-10-ILM-prop.csv
Labels: data-submission, automerge

#550 Update baseline
  data-processed/KIT-simple_nowcast/2022-01-11-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#549 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-01-10-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-01-10-NowcastHub-MedianEnsemble.csv
Labels: data-submission, forecast-updated, automated pr, automerge

#551 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-01-11-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#552 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-01-11-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#553 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-01-11-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#554 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-01-11-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#555 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-01-11-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#556 ILM-prop nowcasts for 2022-01-11
  data-processed/ILM-prop/2022-01-11-ILM-prop.csv
Labels: data-submission, automerge

#557 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-01-11-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-01-11-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#558 RIVM-KEW submission 2022-01-11
  data-processed/RIVM-KEW/2022-01-11-RIVM-KEW.csv
Labels: data-submission, automerge

#559 RIVM-KEW submission 2022-01-12
  data-processed/RIVM-KEW/2022-01-12-RIVM-KEW.csv
Labels: data-submission, automerge

#560 Update baseline
  data-processed/KIT-simple_nowcast/2022-01-12-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#561 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-01-12-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#562 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-01-12-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#563 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-01-12-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#564 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-01-12-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#565 ILM-prop nowcasts for 2022-01-12
  data-processed/ILM-prop/2022-01-12-ILM-prop.csv
Labels: data-submission, automerge

#566 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-01-12-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#567 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-01-12-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-01-12-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#568 Update baseline
  data-processed/KIT-simple_nowcast/2022-01-13-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#569 RIVM-KEW submission 2022-01-13
  data-processed/RIVM-KEW/2022-01-13-RIVM-KEW.csv
Labels: data-submission, automerge

#570 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-01-13-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#571 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-01-13-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#572 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-01-13-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#573 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-01-13-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#574 ILM-prop nowcasts for 2022-01-13
  data-processed/ILM-prop/2022-01-13-ILM-prop.csv
Labels: data-submission, automerge

#575 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-01-13-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#576 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-01-13-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-01-13-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#577 Update baseline
  data-processed/KIT-simple_nowcast/2022-01-14-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#578 RIVM-KEW submission 2022-01-14
  data-processed/RIVM-KEW/2022-01-14-RIVM-KEW.csv
Labels: data-submission, automerge

#579 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-01-14-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#580 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-01-14-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#581 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-01-14-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#582 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-01-14-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#583 ILM-prop nowcasts for 2022-01-14
  data-processed/ILM-prop/2022-01-14-ILM-prop.csv
Labels: data-submission, automerge

#584 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-01-14-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#585 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-01-14-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-01-14-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#587 RIVM-KEW submission 2022-01-15
  data-processed/RIVM-KEW/2022-01-15-RIVM-KEW.csv
Labels: data-submission, automerge

#588 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-01-15-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#589 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-01-15-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#590 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-01-15-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#591 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-01-15-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#592 ILM-prop nowcasts for 2022-01-15
  data-processed/ILM-prop/2022-01-15-ILM-prop.csv
Labels: data-submission, automerge

#593 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-01-15-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#594 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-01-15-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-01-15-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#595 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-01-16-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#596 Update baseline
  data-processed/KIT-simple_nowcast/2022-01-16-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#597 RIVM-KEW submission 2022-01-16
  data-processed/RIVM-KEW/2022-01-16-RIVM-KEW.csv
Labels: data-submission, automerge

#598 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-01-16-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#600 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-01-16-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#599 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-01-16-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#601 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-01-16-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#602 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-01-16-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-01-16-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#603 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-01-17-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#604 Update baseline
  data-processed/KIT-simple_nowcast/2022-01-17-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#605 ILM-prop nowcasts for 2022-01-17
  data-processed/ILM-prop/2022-01-17-ILM-prop.csv
Labels: data-submission, automerge

#606 RIVM-KEW submission 2022-01-17
  data-processed/RIVM-KEW/2022-01-17-RIVM-KEW.csv
Labels: data-submission, automerge

#607 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-01-17-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#609 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-01-17-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#608 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-01-17-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#610 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-01-17-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge
