Repository KITmetricslab/hospitalization-nowcast-hub, pull requests merged in 2022-07, with the labels that each got.

#2077 Update baseline
  data-processed/KIT-simple_nowcast/2022-07-01-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2078 Update nowcasts (RIVM) 2022-07-01
  data-processed/RIVM-KEW/2022-07-01-RIVM-KEW.csv
Labels: data-submission, automerge

#2079 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-07-01-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2081 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-07-01-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#2082 ILM-prop nowcasts for 2022-07-01
  data-processed/ILM-prop/2022-07-01-ILM-prop.csv
Labels: data-submission, automerge

#2080 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-07-01-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2083 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-07-01-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2085 Update baseline
  data-processed/KIT-simple_nowcast/2022-07-02-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2086 Update nowcasts (RIVM) 2022-07-02
  data-processed/RIVM-KEW/2022-07-02-RIVM-KEW.csv
Labels: data-submission, automerge

#2087 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-07-02-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2089 Update nowcasts (epiforecasts)
  data-processed/Epiforecasts-independent/2022-07-02-Epiforecasts-independent.csv
Labels: data-submission, automated pr, automerge

#2090 ILM-prop nowcasts for 2022-07-02
  data-processed/ILM-prop/2022-07-02-ILM-prop.csv
Labels: data-submission, automerge

#2091 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-07-02-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2092 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-07-02-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2093 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-07-02-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-07-02-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2094 Update baseline
  data-processed/KIT-simple_nowcast/2022-07-03-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2095 Update nowcasts (RIVM) 2022-07-03
  data-processed/RIVM-KEW/2022-07-03-RIVM-KEW.csv
Labels: data-submission, automerge

#2096 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-07-03-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2097 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-07-03-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2098 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-07-03-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2099 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-07-03-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-07-03-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2100 Update baseline
  data-processed/KIT-simple_nowcast/2022-07-04-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2101 Update nowcasts (RIVM) 2022-07-04
  data-processed/RIVM-KEW/2022-07-04-RIVM-KEW.csv
Labels: data-submission, automerge

#2102 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-07-04-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2104 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-07-04-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2107 Update baseline
  data-processed/KIT-simple_nowcast/2022-07-05-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2108 Update nowcasts (RIVM) 2022-07-05
  data-processed/RIVM-KEW/2022-07-05-RIVM-KEW.csv
Labels: data-submission, automerge

#2105 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-07-05-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2110 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-07-05-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2111 ILM-prop nowcasts for 2022-07-05
  data-processed/ILM-prop/2022-07-05-ILM-prop.csv
Labels: data-submission, automerge

#2112 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-07-05-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2113 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-07-05-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-07-05-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2115 Update nowcasts (RIVM) 2022-07-06
  data-processed/RIVM-KEW/2022-07-06-RIVM-KEW.csv
Labels: data-submission, automerge

#2116 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-07-06-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2119 ILM-prop nowcasts for 2022-07-06
  data-processed/ILM-prop/2022-07-06-ILM-prop.csv
Labels: data-submission, automerge

#2120 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-07-06-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2121 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-07-06-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-07-06-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2122 Update baseline
  data-processed/KIT-simple_nowcast/2022-07-07-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2123 Update nowcasts (RIVM) 2022-07-07
  data-processed/RIVM-KEW/2022-07-07-RIVM-KEW.csv
Labels: data-submission, automerge

#2124 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-07-07-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2126 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-07-07-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2127 ILM-prop nowcasts for 2022-07-07
  data-processed/ILM-prop/2022-07-07-ILM-prop.csv
Labels: data-submission, automerge

#2128 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-07-07-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2129 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-07-07-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-07-07-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2130 Update baseline
  data-processed/KIT-simple_nowcast/2022-07-08-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2131 Update nowcasts (RIVM) 2022-07-08
  data-processed/RIVM-KEW/2022-07-08-RIVM-KEW.csv
Labels: data-submission, automerge

#2132 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-07-08-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2133 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-07-08-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2134 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-07-08-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2135 ILM-prop nowcasts for 2022-07-08
  data-processed/ILM-prop/2022-07-08-ILM-prop.csv
Labels: data-submission, automerge

#2136 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-07-08-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2137 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-07-08-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-07-08-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2138 Update baseline
  data-processed/KIT-simple_nowcast/2022-07-09-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2139 Update nowcasts (RIVM) 2022-07-09
  data-processed/RIVM-KEW/2022-07-09-RIVM-KEW.csv
Labels: data-submission, automerge

#2140 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-07-09-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2141 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-07-09-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2142 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-07-09-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2143 ILM-prop nowcasts for 2022-07-09
  data-processed/ILM-prop/2022-07-09-ILM-prop.csv
Labels: data-submission, automerge

#2145 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-07-09-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-07-09-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2146 Update baseline
  data-processed/KIT-simple_nowcast/2022-07-10-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2147 Update nowcasts (RIVM) 2022-07-10
  data-processed/RIVM-KEW/2022-07-10-RIVM-KEW.csv
Labels: data-submission, automerge

#2148 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-07-10-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2149 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-07-10-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2150 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-07-10-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2151 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-07-10-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-07-10-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2152 Update baseline
  data-processed/KIT-simple_nowcast/2022-07-11-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2153 Update nowcasts (RIVM) 2022-07-11
  data-processed/RIVM-KEW/2022-07-11-RIVM-KEW.csv
Labels: data-submission, automerge

#2154 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-07-11-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2155 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-07-11-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2156 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-07-11-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2158 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-07-11-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-07-11-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2159 Update baseline
  data-processed/KIT-simple_nowcast/2022-07-12-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2160 Update nowcasts (RIVM) 2022-07-12
  data-processed/RIVM-KEW/2022-07-12-RIVM-KEW.csv
Labels: data-submission, automerge

#2161 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-07-12-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2162 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-07-12-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2163 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-07-12-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2164 ILM-prop nowcasts for 2022-07-12
  data-processed/ILM-prop/2022-07-12-ILM-prop.csv
Labels: data-submission, automerge

#2165 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-07-12-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2166 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-07-12-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-07-12-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2167 Update baseline
  data-processed/KIT-simple_nowcast/2022-07-13-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2168 Update nowcasts (RIVM) 2022-07-13
  data-processed/RIVM-KEW/2022-07-13-RIVM-KEW.csv
Labels: data-submission, automerge

#2169 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-07-13-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2170 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-07-13-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2171 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-07-13-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2172 ILM-prop nowcasts for 2022-07-13
  data-processed/ILM-prop/2022-07-13-ILM-prop.csv
Labels: data-submission, automerge

#2173 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-07-13-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2175 Update baseline
  data-processed/KIT-simple_nowcast/2022-07-14-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2176 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-07-14-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2177 ILM-prop nowcasts for 2022-07-14
  data-processed/ILM-prop/2022-07-14-ILM-prop.csv
Labels: data-submission, automerge

#2179 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-07-14-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2180 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-07-14-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2181 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-07-14-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-07-14-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2182 Update baseline
  data-processed/KIT-simple_nowcast/2022-07-15-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2183 Update nowcasts (RIVM) 2022-07-15
  data-processed/RIVM-KEW/2022-07-15-RIVM-KEW.csv
Labels: data-submission, automerge

#2184 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-07-15-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2185 ILM-prop nowcasts for 2022-07-15
  data-processed/ILM-prop/2022-07-15-ILM-prop.csv
Labels: data-submission, automerge

#2186 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-07-15-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2188 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-07-15-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2189 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-07-15-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-07-15-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2190 Update baseline
  data-processed/KIT-simple_nowcast/2022-07-16-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2191 Update nowcasts (RIVM) 2022-07-16
  data-processed/RIVM-KEW/2022-07-16-RIVM-KEW.csv
Labels: data-submission, automerge

#2192 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-07-16-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2193 ILM-prop nowcasts for 2022-07-16
  data-processed/ILM-prop/2022-07-16-ILM-prop.csv
Labels: data-submission, automerge

#2194 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-07-16-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2195 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-07-16-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-07-16-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2196 Update baseline
  data-processed/KIT-simple_nowcast/2022-07-17-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2197 Update nowcasts (RIVM) 2022-07-17
  data-processed/RIVM-KEW/2022-07-17-RIVM-KEW.csv
Labels: data-submission, automerge

#2198 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-07-17-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2199 ILM-prop nowcasts for 2022-07-17
  data-processed/ILM-prop/2022-07-17-ILM-prop.csv
Labels: data-submission, automerge

#2200 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-07-17-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2201 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-07-17-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2202 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-07-17-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-07-17-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2203 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-07-17-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr

#2204 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-07-18-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2205 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-07-18-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2206 Update baseline
  data-processed/KIT-simple_nowcast/2022-07-18-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2208 ILM-prop nowcasts for 2022-07-18
  data-processed/ILM-prop/2022-07-18-ILM-prop.csv
Labels: data-submission, automerge

#2210 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-07-18-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2213 Update baseline
  data-processed/KIT-simple_nowcast/2022-07-19-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2214 Update nowcasts (RIVM) 2022-07-19
  data-processed/RIVM-KEW/2022-07-19-RIVM-KEW.csv
Labels: data-submission, automerge

#2211 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-07-18-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-07-18-NowcastHub-MedianEnsemble.csv
Labels: data-submission, forecast-updated, automated pr, automerge

#2215 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-07-19-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2216 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-07-19-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2217 ILM-prop nowcasts for 2022-07-19
  data-processed/ILM-prop/2022-07-19-ILM-prop.csv
Labels: data-submission, automerge

#2218 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-07-19-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2219 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-07-19-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-07-19-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2220 Update baseline
  data-processed/KIT-simple_nowcast/2022-07-20-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2221 Update nowcasts (RIVM) 2022-07-20
  data-processed/RIVM-KEW/2022-07-20-RIVM-KEW.csv
Labels: data-submission, automerge

#2222 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-07-20-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2223 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-07-20-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2224 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-07-20-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2225 ILM-prop nowcasts for 2022-07-20
  data-processed/ILM-prop/2022-07-20-ILM-prop.csv
Labels: data-submission, automerge

#2228 Update baseline
  data-processed/KIT-simple_nowcast/2022-07-21-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2229 Update nowcasts (RIVM) 2022-07-21
  data-processed/RIVM-KEW/2022-07-21-RIVM-KEW.csv
Labels: data-submission, automerge

#2230 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-07-21-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2231 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-07-21-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2232 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-07-21-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2233 ILM-prop nowcasts for 2022-07-21
  data-processed/ILM-prop/2022-07-21-ILM-prop.csv
Labels: data-submission, automerge

#2234 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-07-21-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2235 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-07-21-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-07-21-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2237 Update nowcasts (RIVM) 2022-07-22
  data-processed/RIVM-KEW/2022-07-22-RIVM-KEW.csv
Labels: data-submission, automerge

#2238 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-07-22-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2239 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-07-22-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2241 ILM-prop nowcasts for 2022-07-22
  data-processed/ILM-prop/2022-07-22-ILM-prop.csv
Labels: data-submission, automerge

#2242 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-07-22-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2244 Update baseline
  data-processed/KIT-simple_nowcast/2022-07-23-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2245 Update nowcasts (RIVM) 2022-07-23
  data-processed/RIVM-KEW/2022-07-23-RIVM-KEW.csv
Labels: data-submission, automerge

#2246 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-07-23-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2247 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-07-23-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2248 ILM-prop nowcasts for 2022-07-23
  data-processed/ILM-prop/2022-07-23-ILM-prop.csv
Labels: data-submission, automerge
