Repository KITmetricslab/hospitalization-nowcast-hub, pull requests merged in 2022-08, with the labels that each got.

#2316 Update baseline
  data-processed/KIT-simple_nowcast/2022-08-01-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2317 Update nowcasts (RIVM) 2022-08-01
  data-processed/RIVM-KEW/2022-08-01-RIVM-KEW.csv
Labels: data-submission, automerge

#2318 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-08-01-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2319 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-08-01-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2320 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-08-01-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2321 ILM-prop nowcasts for 2022-08-01
  data-processed/ILM-prop/2022-08-01-ILM-prop.csv
Labels: data-submission, automerge

#2322 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-08-01-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2323 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-08-01-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-08-01-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2324 Update baseline
  data-processed/KIT-simple_nowcast/2022-08-02-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2325 Update nowcasts (RIVM) 2022-08-02
  data-processed/RIVM-KEW/2022-08-02-RIVM-KEW.csv
Labels: data-submission, automerge

#2326 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-08-02-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2327 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-08-02-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2328 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-08-02-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2329 ILM-prop nowcasts for 2022-08-02
  data-processed/ILM-prop/2022-08-02-ILM-prop.csv
Labels: data-submission, automerge

#2330 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-08-02-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2331 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-08-02-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-08-02-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2332 Update baseline
  data-processed/KIT-simple_nowcast/2022-08-03-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2333 Update nowcasts (RIVM) 2022-08-03
  data-processed/RIVM-KEW/2022-08-03-RIVM-KEW.csv
Labels: data-submission, automerge

#2334 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-08-03-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2335 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-08-03-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2336 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-08-03-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2337 ILM-prop nowcasts for 2022-08-03
  data-processed/ILM-prop/2022-08-03-ILM-prop.csv
Labels: data-submission, automerge

#2338 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-08-03-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2339 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-08-03-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-08-03-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2340 Update baseline
  data-processed/KIT-simple_nowcast/2022-08-04-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2341 Update nowcasts (RIVM) 2022-08-04
  data-processed/RIVM-KEW/2022-08-04-RIVM-KEW.csv
Labels: data-submission, automerge

#2342 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-08-04-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2343 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-08-04-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2344 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-08-04-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2345 ILM-prop nowcasts for 2022-08-04
  data-processed/ILM-prop/2022-08-04-ILM-prop.csv
Labels: data-submission, automerge

#2346 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-08-04-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2347 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-08-04-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-08-04-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2348 Update baseline
  data-processed/KIT-simple_nowcast/2022-08-05-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2349 Update nowcasts (RIVM) 2022-08-05
  data-processed/RIVM-KEW/2022-08-05-RIVM-KEW.csv
Labels: data-submission, automerge

#2350 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-08-05-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2351 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-08-05-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2352 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-08-05-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2353 ILM-prop nowcasts for 2022-08-05
  data-processed/ILM-prop/2022-08-05-ILM-prop.csv
Labels: data-submission, automerge

#2354 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-08-05-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2355 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-08-05-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-08-05-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2356 Update baseline
  data-processed/KIT-simple_nowcast/2022-08-06-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2357 Update nowcasts (RIVM) 2022-08-06
  data-processed/RIVM-KEW/2022-08-06-RIVM-KEW.csv
Labels: data-submission, automerge

#2358 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-08-06-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2359 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-08-06-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2360 ILM-prop nowcasts for 2022-08-06
  data-processed/ILM-prop/2022-08-06-ILM-prop.csv
Labels: data-submission, automerge

#2361 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-08-06-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2362 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-08-06-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-08-06-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2363 Update baseline
  data-processed/KIT-simple_nowcast/2022-08-07-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2364 Update nowcasts (RIVM) 2022-08-07
  data-processed/RIVM-KEW/2022-08-07-RIVM-KEW.csv
Labels: data-submission, automerge

#2365 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-08-07-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2366 ILM-prop nowcasts for 2022-08-07
  data-processed/ILM-prop/2022-08-07-ILM-prop.csv
Labels: data-submission, automerge

#2367 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-08-07-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2368 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-08-07-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-08-07-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2369 Update baseline
  data-processed/KIT-simple_nowcast/2022-08-08-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2370 Update nowcasts (RIVM) 2022-08-08
  data-processed/RIVM-KEW/2022-08-08-RIVM-KEW.csv
Labels: data-submission, automerge

#2371 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-08-08-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2372 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-08-08-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2373 ILM-prop nowcasts for 2022-08-08
  data-processed/ILM-prop/2022-08-08-ILM-prop.csv
Labels: data-submission, automerge

#2374 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-08-08-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2375 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-08-08-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-08-08-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2376 Update baseline
  data-processed/KIT-simple_nowcast/2022-08-09-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2377 Update nowcasts (RIVM) 2022-08-09
  data-processed/RIVM-KEW/2022-08-09-RIVM-KEW.csv
Labels: data-submission, automerge

#2378 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-08-09-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2379 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-08-09-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2380 ILM-prop nowcasts for 2022-08-09
  data-processed/ILM-prop/2022-08-09-ILM-prop.csv
Labels: data-submission, automerge

#2381 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-08-09-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2384 Update baseline
  data-processed/KIT-simple_nowcast/2022-08-10-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2385 Update nowcasts (RIVM) 2022-08-10
  data-processed/RIVM-KEW/2022-08-10-RIVM-KEW.csv
Labels: data-submission, automerge

#2383 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-08-09-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr

#2386 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-08-10-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2387 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-08-10-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2388 ILM-prop nowcasts for 2022-08-10
  data-processed/ILM-prop/2022-08-10-ILM-prop.csv
Labels: data-submission, automerge

#2389 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-08-10-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2390 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-08-10-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2391 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-08-10-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-08-10-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2392 Update baseline
  data-processed/KIT-simple_nowcast/2022-08-11-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2393 Update nowcasts (RIVM) 2022-08-11
  data-processed/RIVM-KEW/2022-08-11-RIVM-KEW.csv
Labels: data-submission, automerge

#2394 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-08-11-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2395 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-08-11-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2396 ILM-prop nowcasts for 2022-08-11
  data-processed/ILM-prop/2022-08-11-ILM-prop.csv
Labels: data-submission, automerge

#2397 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-08-11-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2398 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-08-11-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-08-11-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2399 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-08-11-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2400 Update baseline
  data-processed/KIT-simple_nowcast/2022-08-12-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2401 Update nowcasts (RIVM) 2022-08-12
  data-processed/RIVM-KEW/2022-08-12-RIVM-KEW.csv
Labels: data-submission, automerge

#2402 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-08-12-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2403 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-08-12-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2404 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-08-12-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2405 ILM-prop nowcasts for 2022-08-12
  data-processed/ILM-prop/2022-08-12-ILM-prop.csv
Labels: data-submission, automerge

#2406 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-08-12-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2407 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-08-12-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-08-12-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2408 Update baseline
  data-processed/KIT-simple_nowcast/2022-08-13-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2409 Update nowcasts (RIVM) 2022-08-13
  data-processed/RIVM-KEW/2022-08-13-RIVM-KEW.csv
Labels: data-submission, automerge

#2410 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-08-13-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2411 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-08-13-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2412 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-08-13-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2413 ILM-prop nowcasts for 2022-08-13
  data-processed/ILM-prop/2022-08-13-ILM-prop.csv
Labels: data-submission, automerge

#2414 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-08-13-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2415 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-08-13-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-08-13-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2416 Update baseline
  data-processed/KIT-simple_nowcast/2022-08-14-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2417 Update nowcasts (RIVM) 2022-08-14
  data-processed/RIVM-KEW/2022-08-14-RIVM-KEW.csv
Labels: data-submission, automerge

#2418 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-08-14-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2419 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-08-14-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2420 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-08-14-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2421 ILM-prop nowcasts for 2022-08-14
  data-processed/ILM-prop/2022-08-14-ILM-prop.csv
Labels: data-submission, automerge

#2422 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-08-14-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2423 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-08-14-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-08-14-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2424 Update baseline
  data-processed/KIT-simple_nowcast/2022-08-15-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2425 Update nowcasts (RIVM) 2022-08-15
  data-processed/RIVM-KEW/2022-08-15-RIVM-KEW.csv
Labels: data-submission, automerge

#2426 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-08-15-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2427 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-08-15-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2428 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-08-15-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2429 ILM-prop nowcasts for 2022-08-15
  data-processed/ILM-prop/2022-08-15-ILM-prop.csv
Labels: data-submission, automerge

#2430 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-08-15-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2431 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-08-15-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-08-15-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2432 Update baseline
  data-processed/KIT-simple_nowcast/2022-08-16-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2433 Update nowcasts (RIVM) 2022-08-16
  data-processed/RIVM-KEW/2022-08-16-RIVM-KEW.csv
Labels: data-submission, automerge

#2434 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-08-16-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2435 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-08-16-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2436 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-08-16-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2437 ILM-prop nowcasts for 2022-08-16
  data-processed/ILM-prop/2022-08-16-ILM-prop.csv
Labels: data-submission, automerge

#2438 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-08-16-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2440 Update baseline
  data-processed/KIT-simple_nowcast/2022-08-17-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2441 Update nowcasts (RIVM) 2022-08-17
  data-processed/RIVM-KEW/2022-08-17-RIVM-KEW.csv
Labels: data-submission, automerge

#2442 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-08-17-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2443 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-08-17-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2444 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-08-17-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2445 ILM-prop nowcasts for 2022-08-17
  data-processed/ILM-prop/2022-08-17-ILM-prop.csv
Labels: data-submission, automerge

#2446 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-08-17-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-08-17-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2447 Update baseline
  data-processed/KIT-simple_nowcast/2022-08-18-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2448 Update nowcasts (RIVM) 2022-08-18
  data-processed/RIVM-KEW/2022-08-18-RIVM-KEW.csv
Labels: data-submission, automerge

#2449 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-08-18-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2450 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-08-18-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2451 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-08-18-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2452 ILM-prop nowcasts for 2022-08-18
  data-processed/ILM-prop/2022-08-18-ILM-prop.csv
Labels: data-submission, automerge

#2453 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2022-08-18-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2022-08-18-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#2454 Update baseline
  data-processed/KIT-simple_nowcast/2022-08-19-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2455 Update nowcasts (RIVM) 2022-08-19
  data-processed/RIVM-KEW/2022-08-19-RIVM-KEW.csv
Labels: data-submission, automerge

#2456 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-08-19-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2457 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-08-19-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#2458 ILM-prop nowcasts for 2022-08-19
  data-processed/ILM-prop/2022-08-19-ILM-prop.csv
Labels: data-submission, automerge

#2459 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-08-19-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2461 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-08-19-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2462 Update baseline
  data-processed/KIT-simple_nowcast/2022-08-20-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#2463 Update nowcasts (RIVM) 2022-08-20
  data-processed/RIVM-KEW/2022-08-20-RIVM-KEW.csv
Labels: data-submission, automerge

#2464 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2022-08-20-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#2465 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2022-08-20-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#2466 ILM-prop nowcasts for 2022-08-20
  data-processed/ILM-prop/2022-08-20-ILM-prop.csv
Labels: data-submission, automerge

#2467 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2022-08-20-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#2468 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2022-08-20-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge
