Repository KITmetricslab/hospitalization-nowcast-hub, pull requests merged in 2023-05, with the labels that each got.

#4284 Update baseline
  data-processed/KIT-simple_nowcast/2023-05-01-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4285 Update nowcasts (RIVM) 2023-05-01
  data-processed/RIVM-KEW/2023-05-01-RIVM-KEW.csv
Labels: data-submission, automerge

#4286 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2023-05-01-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#4287 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-05-01-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4288 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2023-05-01-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#4289 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2023-05-01-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2023-05-01-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#4290 Update baseline
  data-processed/KIT-simple_nowcast/2023-05-02-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4291 Update nowcasts (RIVM) 2023-05-02
  data-processed/RIVM-KEW/2023-05-02-RIVM-KEW.csv
Labels: data-submission, automerge

#4292 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-05-02-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4293 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2023-05-02-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#4294 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2023-05-02-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#4295 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2023-05-02-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2023-05-02-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#4296 Update baseline
  data-processed/KIT-simple_nowcast/2023-05-03-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4297 Update nowcasts (RIVM) 2023-05-03
  data-processed/RIVM-KEW/2023-05-03-RIVM-KEW.csv
Labels: data-submission, automerge

#4298 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-05-03-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4299 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2023-05-03-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#4300 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2023-05-03-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#4302 Update baseline
  data-processed/KIT-simple_nowcast/2023-05-04-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4303 Update nowcasts (RIVM) 2023-05-04
  data-processed/RIVM-KEW/2023-05-04-RIVM-KEW.csv
Labels: data-submission, automerge

#4305 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2023-05-04-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#4306 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2023-05-04-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#4307 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2023-05-04-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2023-05-04-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#4308 Update nowcasts (RIVM) 2023-05-05
  data-processed/RIVM-KEW/2023-05-05-RIVM-KEW.csv
Labels: data-submission, automerge

#4309 Update baseline
  data-processed/KIT-simple_nowcast/2023-05-05-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4310 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2023-05-05-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#4311 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-05-05-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4312 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2023-05-05-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#4313 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2023-05-05-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2023-05-05-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#4316 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2023-05-08-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr

#4315 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-05-08-RKI-weekly_report.csv
Labels: data-submission, automated pr

#4314 Update baseline
  data-processed/KIT-simple_nowcast/2023-05-08-KIT-simple_nowcast.csv
Labels: data-submission, automated pr

#4317 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-05-09-RKI-weekly_report.csv
Labels: data-submission, automated pr

#4320 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-05-10-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4321 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2023-05-10-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#4322 Update baseline
  data-processed/KIT-simple_nowcast/2023-05-10-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4323 Update nowcasts (RIVM) 2023-05-10
  data-processed/RIVM-KEW/2023-05-10-RIVM-KEW.csv
Labels: data-submission, automerge

#4324 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2023-05-10-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#4325 Update baseline
  data-processed/KIT-simple_nowcast/2023-05-11-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4326 Update nowcasts (RIVM) 2023-05-11
  data-processed/RIVM-KEW/2023-05-11-RIVM-KEW.csv
Labels: data-submission, automerge

#4327 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-05-11-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4329 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2023-05-11-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#4330 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2023-05-11-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2023-05-11-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#4331 Update baseline
  data-processed/KIT-simple_nowcast/2023-05-12-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4332 Update nowcasts (RIVM) 2023-05-12
  data-processed/RIVM-KEW/2023-05-12-RIVM-KEW.csv
Labels: data-submission, automerge

#4333 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-05-12-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4334 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2023-05-12-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#4335 Update baseline
  data-processed/KIT-simple_nowcast/2023-05-13-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4336 Update nowcasts (RIVM) 2023-05-13
  data-processed/RIVM-KEW/2023-05-13-RIVM-KEW.csv
Labels: data-submission, automerge

#4337 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-05-13-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4338 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2023-05-13-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#4339 Update baseline
  data-processed/KIT-simple_nowcast/2023-05-14-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4340 Update nowcasts (RIVM) 2023-05-14
  data-processed/RIVM-KEW/2023-05-14-RIVM-KEW.csv
Labels: data-submission, automerge

#4341 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-05-14-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4342 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2023-05-14-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#4343 Update baseline
  data-processed/KIT-simple_nowcast/2023-05-15-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4344 Update nowcasts (RIVM) 2023-05-15
  data-processed/RIVM-KEW/2023-05-15-RIVM-KEW.csv
Labels: data-submission, automerge

#4345 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-05-15-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4346 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2023-05-15-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#4347 Update baseline
  data-processed/KIT-simple_nowcast/2023-05-16-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4348 Update nowcasts (RIVM) 2023-05-16
  data-processed/RIVM-KEW/2023-05-16-RIVM-KEW.csv
Labels: data-submission, automerge

#4349 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-05-16-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4350 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2023-05-16-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#4351 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2023-05-16-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#4352 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2023-05-16-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2023-05-16-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#4353 Update baseline
  data-processed/KIT-simple_nowcast/2023-05-17-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4354 Update nowcasts (RIVM) 2023-05-17
  data-processed/RIVM-KEW/2023-05-17-RIVM-KEW.csv
Labels: data-submission, automerge

#4356 Update nowcasts (SU)
  data-processed/SU-hier_bayes/2023-05-17-SU-hier_bayes.csv
Labels: data-submission, automated pr, automerge

#4357 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2023-05-17-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#4358 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2023-05-17-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#4359 ILM-prop nowcasts for 2023-05-17
  data-processed/ILM-prop/2023-05-17-ILM-prop.csv
Labels: data-submission, automerge

#4360 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2023-05-17-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2023-05-17-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#4361 Update baseline
  data-processed/KIT-simple_nowcast/2023-05-18-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4362 Update nowcasts (RIVM) 2023-05-18
  data-processed/RIVM-KEW/2023-05-18-RIVM-KEW.csv
Labels: data-submission, automerge

#4363 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2023-05-18-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#4365 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2023-05-18-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#4366 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2023-05-18-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2023-05-18-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#4367 Update baseline
  data-processed/KIT-simple_nowcast/2023-05-19-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4368 Update nowcasts (RIVM) 2023-05-19
  data-processed/RIVM-KEW/2023-05-19-RIVM-KEW.csv
Labels: data-submission, automerge

#4369 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2023-05-19-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#4370 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-05-19-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4371 ILM-prop nowcasts for 2023-05-19
  data-processed/ILM-prop/2023-05-19-ILM-prop.csv
Labels: data-submission, automerge

#4372 Update nowcasts (SZ)
  data-processed/SZ-hosp_nowcast/2023-05-19-SZ-hosp_nowcast.csv
Labels: data-submission, automated pr, automerge

#4373 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2023-05-19-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2023-05-19-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#4374 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-05-22-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4375 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-05-23-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4376 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-05-24-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4377 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-05-25-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4379 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-05-27-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4380 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-05-29-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4381 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-05-30-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4382 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-05-31-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4383 Update nowcasts (RIVM) 2023-05-31
  data-processed/RIVM-KEW/2023-05-31-RIVM-KEW.csv
Labels: data-submission, automerge

#4385 ILM-prop nowcasts for 2023-05-31
  data-processed/ILM-prop/2023-05-31-ILM-prop.csv
Labels: data-submission, automerge
