Repository KITmetricslab/hospitalization-nowcast-hub, pull requests merged in 2023-08, with the labels that each got.

#4606 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-08-01-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4607 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-08-02-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4609 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-08-03-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4610 Update baseline
  data-processed/KIT-simple_nowcast/2023-08-03-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4611 ILM-prop nowcasts for 2023-08-03
  data-processed/ILM-prop/2023-08-03-ILM-prop.csv
Labels: data-submission, automerge

#4612 Update baseline
  data-processed/KIT-simple_nowcast/2023-08-04-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4613 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-08-04-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4614 ILM-prop nowcasts for 2023-08-04
  data-processed/ILM-prop/2023-08-04-ILM-prop.csv
Labels: data-submission, automerge

#4615 Update baseline
  data-processed/KIT-simple_nowcast/2023-08-05-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4616 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-08-05-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4617 ILM-prop nowcasts for 2023-08-05
  data-processed/ILM-prop/2023-08-05-ILM-prop.csv
Labels: data-submission, automerge

#4618 Update baseline
  data-processed/KIT-simple_nowcast/2023-08-06-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4619 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-08-06-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4620 ILM-prop nowcasts for 2023-08-06
  data-processed/ILM-prop/2023-08-06-ILM-prop.csv
Labels: data-submission, automerge

#4621 Update baseline
  data-processed/KIT-simple_nowcast/2023-08-07-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4622 Update nowcasts (RIVM) 2023-08-07
  data-processed/RIVM-KEW/2023-08-07-RIVM-KEW.csv
Labels: data-submission, automerge

#4623 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-08-07-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4625 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2023-08-07-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2023-08-07-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#4626 Update baseline
  data-processed/KIT-simple_nowcast/2023-08-08-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4627 Update nowcasts (RIVM) 2023-08-08
  data-processed/RIVM-KEW/2023-08-08-RIVM-KEW.csv
Labels: data-submission, automerge

#4628 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-08-08-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4629 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2023-08-08-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#4630 ILM-prop nowcasts for 2023-08-08
  data-processed/ILM-prop/2023-08-08-ILM-prop.csv
Labels: data-submission, automerge

#4631 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2023-08-08-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2023-08-08-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#4632 Update baseline
  data-processed/KIT-simple_nowcast/2023-08-09-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4633 Update nowcasts (RIVM) 2023-08-09
  data-processed/RIVM-KEW/2023-08-09-RIVM-KEW.csv
Labels: data-submission, automerge

#4634 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-08-09-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4635 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2023-08-09-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#4636 ILM-prop nowcasts for 2023-08-09
  data-processed/ILM-prop/2023-08-09-ILM-prop.csv
Labels: data-submission, automerge

#4637 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2023-08-09-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2023-08-09-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#4638 Update baseline
  data-processed/KIT-simple_nowcast/2023-08-10-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4639 Update nowcasts (RIVM) 2023-08-10
  data-processed/RIVM-KEW/2023-08-10-RIVM-KEW.csv
Labels: data-submission, automerge

#4640 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-08-10-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4641 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2023-08-10-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#4642 ILM-prop nowcasts for 2023-08-10
  data-processed/ILM-prop/2023-08-10-ILM-prop.csv
Labels: data-submission, automerge

#4643 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2023-08-10-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2023-08-10-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#4644 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-08-14-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4646 Update baseline
  data-processed/KIT-simple_nowcast/2023-08-17-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4647 Update nowcasts (RIVM) 2023-08-17
  data-processed/RIVM-KEW/2023-08-17-RIVM-KEW.csv
Labels: data-submission, automerge

#4648 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2023-08-17-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#4649 ILM-prop nowcasts for 2023-08-17
  data-processed/ILM-prop/2023-08-17-ILM-prop.csv
Labels: data-submission, automerge

#4650 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2023-08-17-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2023-08-17-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#4651 Update baseline
  data-processed/KIT-simple_nowcast/2023-08-18-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4652 Update nowcasts (RIVM) 2023-08-18
  data-processed/RIVM-KEW/2023-08-18-RIVM-KEW.csv
Labels: data-submission, automerge

#4653 ILM-prop nowcasts for 2023-08-18
  data-processed/ILM-prop/2023-08-18-ILM-prop.csv
Labels: data-submission, automerge

#4654 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2023-08-18-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#4655 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2023-08-18-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2023-08-18-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#4656 Update baseline
  data-processed/KIT-simple_nowcast/2023-08-19-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4657 Update nowcasts (RIVM) 2023-08-19
  data-processed/RIVM-KEW/2023-08-19-RIVM-KEW.csv
Labels: data-submission, automerge

#4658 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2023-08-19-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#4659 ILM-prop nowcasts for 2023-08-19
  data-processed/ILM-prop/2023-08-19-ILM-prop.csv
Labels: data-submission, automerge

#4660 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2023-08-19-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2023-08-19-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#4661 Update baseline
  data-processed/KIT-simple_nowcast/2023-08-20-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4662 Update nowcasts (RIVM) 2023-08-20
  data-processed/RIVM-KEW/2023-08-20-RIVM-KEW.csv
Labels: data-submission, automerge

#4664 ILM-prop nowcasts for 2023-08-20
  data-processed/ILM-prop/2023-08-20-ILM-prop.csv
Labels: data-submission, automerge

#4663 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2023-08-20-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#4665 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2023-08-20-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2023-08-20-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#4666 Update baseline
  data-processed/KIT-simple_nowcast/2023-08-21-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4668 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2023-08-21-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#4669 ILM-prop nowcasts for 2023-08-21
  data-processed/ILM-prop/2023-08-21-ILM-prop.csv
Labels: data-submission, automerge

#4671 Update baseline
  data-processed/KIT-simple_nowcast/2023-08-22-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4672 Update nowcasts (RIVM) 2023-08-22
  data-processed/RIVM-KEW/2023-08-22-RIVM-KEW.csv
Labels: data-submission, automerge

#4673 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2023-08-22-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#4676 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2023-08-22-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2023-08-22-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#4677 Update baseline
  data-processed/KIT-simple_nowcast/2023-08-23-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4678 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-08-23-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4679 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2023-08-23-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#4680 Update nowcasts (RIVM) 2023-08-23
  data-processed/RIVM-KEW/2023-08-23-RIVM-KEW.csv
Labels: data-submission, automerge

#4681 ILM-prop nowcasts for 2023-08-23
  data-processed/ILM-prop/2023-08-23-ILM-prop.csv
Labels: data-submission, automerge

#4682 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2023-08-23-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2023-08-23-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#4683 Update baseline
  data-processed/KIT-simple_nowcast/2023-08-24-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4684 Update nowcasts (RIVM) 2023-08-24
  data-processed/RIVM-KEW/2023-08-24-RIVM-KEW.csv
Labels: data-submission, automerge

#4685 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-08-24-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4686 Update nowcasts (LMU)
  data-processed/LMU_StaBLab-GAM_nowcast/2023-08-24-LMU_StaBLab-GAM_nowcast.csv
Labels: data-submission, automated pr, automerge

#4687 ILM-prop nowcasts for 2023-08-24
  data-processed/ILM-prop/2023-08-24-ILM-prop.csv
Labels: data-submission, automerge

#4688 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2023-08-24-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2023-08-24-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#4689 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-08-28-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4690 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-08-29-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4692 Update baseline
  data-processed/KIT-simple_nowcast/2023-08-29-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4693 Update nowcasts (RIVM) 2023-08-29
  data-processed/RIVM-KEW/2023-08-29-RIVM-KEW.csv
Labels: data-submission, automerge

#4694 ILM-prop nowcasts for 2023-08-29
  data-processed/ILM-prop/2023-08-29-ILM-prop.csv
Labels: data-submission, automerge

#4696 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2023-08-29-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2023-08-29-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#4695 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-08-29-RKI-weekly_report.csv
Labels: data-submission, forecast-updated, automated pr, automerge

#4697 Update nowcasts (RKI)
  data-processed/RKI-weekly_report/2023-08-30-RKI-weekly_report.csv
Labels: data-submission, automated pr, automerge

#4698 Update baseline
  data-processed/KIT-simple_nowcast/2023-08-30-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4699 Update nowcasts (RIVM) 2023-08-30
  data-processed/RIVM-KEW/2023-08-30-RIVM-KEW.csv
Labels: data-submission, automerge

#4700 ILM-prop nowcasts for 2023-08-30
  data-processed/ILM-prop/2023-08-30-ILM-prop.csv
Labels: data-submission, automerge

#4701 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2023-08-30-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2023-08-30-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge

#4703 Update baseline
  data-processed/KIT-simple_nowcast/2023-08-31-KIT-simple_nowcast.csv
Labels: data-submission, automated pr, automerge

#4704 Update nowcasts (RIVM) 2023-08-31
  data-processed/RIVM-KEW/2023-08-31-RIVM-KEW.csv
Labels: data-submission, automerge

#4705 ILM-prop nowcasts for 2023-08-31
  data-processed/ILM-prop/2023-08-31-ILM-prop.csv
Labels: data-submission, automerge

#4706 Update ensembles
  code/ensemble/documentation_members.csv
  data-processed/NowcastHub-MeanEnsemble/2023-08-31-NowcastHub-MeanEnsemble.csv
  data-processed/NowcastHub-MedianEnsemble/2023-08-31-NowcastHub-MedianEnsemble.csv
Labels: data-submission, automated pr, automerge
